node-red-flows/flows_pi2.json
[{"type":"tab","id":"ffc1382c.003ec8","label":"Sheet 1"},{"type":"tab","id":"b3dfe59e.4c2018","label":"Sheet 2"},{"id":"9d48b580.62b748","type":"mqtt-broker","broker":"192.168.0.109","port":"1883","clientid":""},{"id":"c2a771eb.3d589","type":"mqtt-broker","broker":"192.168.0.153","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":15,"cleansession":true,"willQos":"0","birthQos":"0"},{"id":"f6ef52d3.0910b","type":"mqtt-broker","broker":"mqtt.dioty.co","port":"1883","clientid":""},{"id":"38744537.c78bba","type":"twitter-credentials","z":"ffc1382c.003ec8","screen_name":"@gopisHouse"},{"id":"d73a2d50.28c5d","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/StateTemperature","broker":"c2a771eb.3d589","x":148.33334350585938,"y":696.4285888671875,"wires":[["7a7a9018.85857"]]},{"id":"80268b0f.7fd978","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/StateHumidity","broker":"c2a771eb.3d589","x":133.2857208251953,"y":727.5238647460938,"wires":[["7a7a9018.85857"]]},{"id":"9f99df89.60662","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/StateLight","broker":"c2a771eb.3d589","x":110.57144165039062,"y":215.71426391601562,"wires":[["1e2dc9b2.e1d236"]]},{"id":"8cff0da2.7300f","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/StateFan","broker":"c2a771eb.3d589","x":106.4285888671875,"y":79.57142639160156,"wires":[["7dbdd321.82422c"]]},{"id":"7b7a358b.8485cc","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/StateLed","broker":"c2a771eb.3d589","x":110.1429214477539,"y":273.0357360839844,"wires":[["1e2dc9b2.e1d236"]]},{"id":"91362db4.6ec9d","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/StateAlarm","broker":"c2a771eb.3d589","x":122.35718536376953,"y":648.142822265625,"wires":[["1e2dc9b2.e1d236"]]},{"id":"7cdb8210.83247c","type":"twitter out","z":"ffc1382c.003ec8","twitter":"38744537.c78bba","name":"Tweet","x":1313.84521484375,"y":512.0714721679688,"wires":[]},{"id":"304953ce.cfb6ac","type":"tcp in","z":"ffc1382c.003ec8","name":"","server":"server","host":"","port":"5001","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":103.65874862670898,"y":1193.3332977294922,"wires":[["c4b3be9b.3b4c4","6fbf6187.9040a","ec29beff.13d64","c77b031c.3885","99d2723a.662d9","3278a1df.47570e","a657e6ed.bb0678"]]},{"id":"84488176.7bb78","type":"tcp out","z":"ffc1382c.003ec8","host":"","port":"5001","beserver":"reply","base64":false,"end":false,"name":"","x":1358.809865951538,"y":1145.1429948806763,"wires":[]},{"id":"c4b3be9b.3b4c4","type":"function","z":"ffc1382c.003ec8","name":"processNps","func":"var newMsg = { payload: msg.payload.trim() };\nvar myMsg=newMsg.payload.split(\" \");\n\nnewMsg.topic='';\n\ncontext.global.intNps1State         = context.global.intNps1State         || 0;\ncontext.global.intNps2State         = context.global.intNps2State         || 0;\ncontext.global.intNps3State         = context.global.intNps3State         || 0;\ncontext.global.intNps4State         = context.global.intNps4State         || 0;\ncontext.global.intNps5State         = context.global.intNps5State         || 0;\ncontext.global.intNps6State         = context.global.intNps6State         || 0;\ncontext.global.intNps7State         = context.global.intNps7State         || 0;\ncontext.global.intNps8State         = context.global.intNps8State         || 0;\ncontext.global.intNps9State         = context.global.intNps9State         || 0;\ncontext.global.intNps10State        = context.global.intNps10State        || 0;\ncontext.global.intNps11State        = context.global.intNps11State        || 0;\ncontext.global.intNps12State        = context.global.intNps12State        || 0;\ncontext.global.intNps13State        = context.global.intNps13State        || 0;\ncontext.global.intNps14State        = context.global.intNps14State        || 0;\ncontext.global.intNps15State        = context.global.intNps15State        || 0;\ncontext.global.intNps16State        = context.global.intNps16State        || 0;\ncontext.global.intNps17State        = context.global.intNps17State        || 0;\ncontext.global.intNps18State        = context.global.intNps18State        || 0;\ncontext.global.intNps19State        = context.global.intNps19State        || 0;\ncontext.global.intNps20State        = context.global.intNps20State        || 0;\n\n\nswitch(myMsg[0]) {\n    case 'nps_1_on':\n        newMsg.payload=\"1\";\n        return [newMsg, null, null, msg];\n    case 'nps_1_off':\n        newMsg.payload=\"1\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_1_state':\n        msg.payload=context.global.intNps1State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_2_on':\n        newMsg.payload=\"2\";\n        return [newMsg, null, null, msg];\n    case 'nps_2_off':\n        newMsg.payload=\"2\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_2_state':\n        msg.payload=context.global.intNps2State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_3_on':\n        newMsg.payload=\"3\";\n        return [newMsg, null, null, msg];\n    case 'nps_3_off':\n        newMsg.payload=\"3\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_3_state':\n        msg.payload=context.global.intNps3State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_4_on':\n        newMsg.payload=\"4\";\n        return [newMsg, null, null, msg];\n    case 'nps_4_off':\n        newMsg.payload=\"4\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_4_state':\n        msg.payload=context.global.intNps4State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_5_on':\n        newMsg.payload=\"5\";\n        return [newMsg, null, null, msg];\n    case 'nps_5_off':\n        newMsg.payload=\"5\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_5_state':\n        msg.payload=context.global.intNps5State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_6_on':\n        newMsg.payload=\"6\";\n        return [newMsg, null, null, msg];\n    case 'nps_6_off':\n        newMsg.payload=\"6\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_6_state':\n        msg.payload=context.global.intNps6State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_7_on':\n        newMsg.payload=\"7\";\n        return [newMsg, null, null, msg];\n    case 'nps_7_off':\n        newMsg.payload=\"7\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_7_state':\n        msg.payload=context.global.intNps7State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_8_on':\n        newMsg.payload=\"8\";\n        return [newMsg, null, null, msg];\n    case 'nps_8_off':\n        newMsg.payload=\"8\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_8_state':\n        msg.payload=context.global.intNps8State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_9_on':\n        newMsg.payload=\"9\";\n        return [newMsg, null, null, msg];\n    case 'nps_9_off':\n        newMsg.payload=\"9\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_9_state':\n        msg.payload=context.global.intNps9State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_10_on':\n        newMsg.payload=\"10\";\n        return [newMsg, null, null, msg];\n    case 'nps_10_off':\n        newMsg.payload=\"10\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_10_state':\n        msg.payload=context.global.intNps10State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_11_on':\n        newMsg.payload=\"11\";\n        return [newMsg, null, null, msg];\n    case 'nps_11_off':\n        newMsg.payload=\"11\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_11_state':\n        msg.payload=context.global.intNps11State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_12_on':\n        newMsg.payload=\"12\";\n        return [newMsg, null, null, msg];\n    case 'nps_12_off':\n        newMsg.payload=\"12\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_12_state':\n        msg.payload=context.global.intNps12State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_13_on':\n        newMsg.payload=\"13\";\n        return [newMsg, null, null, msg];\n    case 'nps_13_off':\n        newMsg.payload=\"13\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_13_state':\n        msg.payload=context.global.intNps13State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_14_on':\n        newMsg.payload=\"14\";\n        return [newMsg, null, null, msg];\n    case 'nps_14_off':\n        newMsg.payload=\"14\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_14_state':\n        msg.payload=context.global.intNps14State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_15_on':\n        newMsg.payload=\"15\";\n        return [newMsg, null, null, msg];\n    case 'nps_15_off':\n        newMsg.payload=\"15\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_15_state':\n        msg.payload=context.global.intNps15State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_16_on':\n        newMsg.payload=\"16\";\n        return [newMsg, null, null, msg];\n    case 'nps_16_off':\n        newMsg.payload=\"16\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_16_state':\n        msg.payload=context.global.intNps16State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_17_on':\n        newMsg.payload=\"17\";\n        return [newMsg, null, null, msg];\n    case 'nps_17_off':\n        newMsg.payload=\"17\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_17_state':\n        msg.payload=context.global.intNps17State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_18_on':\n        newMsg.payload=\"18\";\n        return [newMsg, null, null, msg];\n    case 'nps_18_off':\n        newMsg.payload=\"18\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_18_state':\n        msg.payload=context.global.intNps18State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_19_on':\n        newMsg.payload=\"19\";\n        return [newMsg, null, null, msg];\n    case 'nps_19_off':\n        newMsg.payload=\"19\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_19_state':\n        msg.payload=context.global.intNps19State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_20_on':\n        newMsg.payload=\"20\";\n        return [newMsg, null, null, msg];\n    case 'nps_20_off':\n        newMsg.payload=\"20\";\n        return [null, newMsg, null, msg];\n    case 'read_nps_20_state':\n        msg.payload=context.global.intNps20State.toString()+\"\\n\";\n        return [null, null, null, msg];\n    case 'nps_1_reset':\n        newMsg.payload=\"1\";\n        return [null, null, newMsg, msg];\n    case 'nps_2_reset':\n        newMsg.payload=\"2\";\n        return [null, null, newMsg, msg];\n    case 'nps_3_reset':\n        newMsg.payload=\"3\";\n        return [null, null, newMsg, msg];\n    case 'nps_4_reset':\n        newMsg.payload=\"4\";\n        return [null, null, newMsg, msg];\n    case 'nps_5_reset':\n        newMsg.payload=\"5\";\n        return [null, null, newMsg, msg];\n    case 'nps_6_reset':\n        newMsg.payload=\"6\";\n        return [null, null, newMsg, msg];\n    case 'nps_7_reset':\n        newMsg.payload=\"7\";\n        return [null, null, newMsg, msg];\n    case 'nps_8_reset':\n        newMsg.payload=\"8\";\n        return [null, null, newMsg, msg];\n    case 'nps_9_reset':\n        newMsg.payload=\"9\";\n        return [null, null, newMsg, msg];\n    case 'nps_10_reset':\n        newMsg.payload=\"10\";\n        return [null, null, newMsg, msg];\n    case 'nps_11_reset':\n        newMsg.payload=\"11\";\n        return [null, null, newMsg, msg];\n    case 'nps_12_reset':\n        newMsg.payload=\"12\";\n        return [null, null, newMsg, msg];\n    case 'nps_13_reset':\n        newMsg.payload=\"13\";\n        return [null, null, newMsg, msg];\n    case 'nps_14_reset':\n        newMsg.payload=\"14\";\n        return [null, null, newMsg, msg];\n    case 'nps_15_reset':\n        newMsg.payload=\"15\";\n        return [null, null, newMsg, msg];\n    case 'nps_16_reset':\n        newMsg.payload=\"16\";\n        return [null, null, newMsg, msg];\n    case 'nps_17_reset':\n        newMsg.payload=\"17\";\n        return [null, null, newMsg, msg];\n    case 'nps_18_reset':\n        newMsg.payload=\"18\";\n        return [null, null, newMsg, msg];\n    case 'nps_19_reset':\n        newMsg.payload=\"19\";\n        return [null, null, newMsg, msg];\n    case 'nps_20_reset':\n        newMsg.payload=\"20\";\n        return [null, null, newMsg, msg];\n}\n","outputs":"4","noerr":0,"x":736.1547241210938,"y":1262.642822265625,"wires":[["f3c6a60.f0c3958"],["12a205d7.ed5dfa"],["d15e28c0.2ea1d8"],["84488176.7bb78"]]},{"id":"9b4ea69a.64b158","type":"function","z":"ffc1382c.003ec8","name":"TimeStamp","func":"// Create a Date object from the payload\nvar date = new Date();\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString() + msg.payload;\n\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"x":738.071533203125,"y":462.1785583496094,"wires":[["7cdb8210.83247c"]]},{"id":"7ab254d4.854dac","type":"http request","z":"ffc1382c.003ec8","name":"Thingspeak","method":"POST","ret":"txt","url":"http://api.thingspeak.com/update?key=YYU2K51CG3XM6QFJ&+msg.payload","x":1329.5357666015625,"y":593.9166870117188,"wires":[[]]},{"id":"7a7a9018.85857","type":"function","z":"ffc1382c.003ec8","name":"collate","func":"var field = \"\";\nswitch(msg.topic) {\n    case \"/socket1/StateTemperature\":\n        field = \"field1\";\n    break;\n    case \"/socket1/StateHumidity\":\n        field = \"field2\";\n    break;\n    case \"/socket1/StateWatts\":\n        field = \"field3\";\n    break;\n}\n\ncontext.buff = context.buff || \"\";\ncontext.count = context.count || 0;\n\nif (msg.topic != \"purge\") {\n    if (context.buff.length > 0) {\n        context.buff = context.buff+\"&\"+field+\"=\"+msg.payload;\n    } else {\n        context.buff = field+\"=\"+msg.payload;\n    }\n    context.count += 1;\n }\n \nif (context.count == 3 || (msg.payload==\"purge\" && context.count >= 1)) {\n     msg.topic=\"\";\n     msg.payload = context.buff;\n     context.buff = \"\";\n     context.count = 0;\n     return msg;\n}\n \nreturn null;","outputs":1,"noerr":0,"x":491.50003814697266,"y":715.0713300704956,"wires":[["208a25e.fdf75da"]]},{"id":"1e2dc9b2.e1d236","type":"function","z":"ffc1382c.003ec8","name":"collate","func":"var field = \"\";\nvar newMsg = { payload: msg.payload.trim() };\nnewMsg.topic = \"\";\n\ncontext.global.intSocket1LightState      = context.global.intSocket1LightState     || 0;\ncontext.global.intSocket1LedState        = context.global.intSocket1LedState       || 0;\ncontext.global.strSocket1AlarmState      = context.global.strSocket1AlarmState     || \"\";\ncontext.global.intSocket1LedMode         = context.global.intSocket1LedMode        || 0;\ncontext.global.intSocket1LedSpeed        = context.global.intSocket1LedSpeed       || 0;\ncontext.global.intSocket1LedColorRed     = context.global.intSocket1LedColorRed    || 0;\ncontext.global.intSocket1LedColorGreen   = context.global.intSocket1LedColorGreen  || 0;\ncontext.global.intSocket1LedColorBlue    = context.global.intSocket1LedColorBlue   || 0;\n\n\n\nswitch(msg.topic) {\n     case \"/socket1/ChangedLight\":\n         field = \"field4\";\n         context.global.intSocket1LightState = parseInt(msg.payload);\n     break;\n     case \"/socket1/StateLight\":\n         context.global.intSocket1LightState = parseInt(msg.payload);\n     break;\n     case \"/socket1/ChangedLed\":\n         context.global.intSocket1LedState = parseInt(msg.payload);\n     break;\n     case \"/socket1/StateLed\":\n         context.global.intSocket1LedState = parseInt(msg.payload);\n     break;\n     case \"/socket1/StateAlarm\":\n         context.global.strSocket1AlarmState = msg.payload.trim();\n     break;\n     case \"/socket1/StateLedMode\":\n         context.global.intSocket1LedMode = parseInt(msg.payload.trim());\n     break;\n     case \"/socket1/StateLedSpeed\":\n         context.global.intSocket1LedSpeed = parseInt(msg.payload.trim());\n     break;\n     case \"/socket1/StateLedColorRed\":\n         context.global.intSocket1LedColorRed = parseInt(msg.payload.trim());\n     break;\n     case \"/socket1/StateLedColorGreen\":\n         context.global.intSocket1LedColorGreen = parseInt(msg.payload.trim());\n     break;\n     case \"/socket1/StateLedColorBlue\":\n         context.global.intSocket1LedColorBlue = parseInt(msg.payload.trim());\n     break;\n     case \"/socket1/ChangedLedMode\":\n         context.global.intSocket1LedMode = parseInt(msg.payload.trim());\n     break;\n     case \"/socket1/ChangedLedSpeed\":\n         context.global.intSocket1LedSpeed = parseInt(msg.payload.trim());\n     break;\n     case \"/socket1/ChangedLedColorRed\":\n         context.global.intSocket1LedColorRed = parseInt(msg.payload.trim());\n     break;\n     case \"/socket1/ChangedLedColorGreen\":\n         context.global.intSocket1LedColorGreen = parseInt(msg.payload.trim());\n     break;\n     case \"/socket1/ChangedLedColorBlue\":\n         context.global.intSocket1LedColorBlue = parseInt(msg.payload.trim());\n     break;\n}\n\n\nif (msg.topic == \"/socket1/StateAlarm\")\n{\n    switch(msg.payload)\n    {\n        case \"AlarmUnarmed\":\n        case \"AlarmArming\":\n        case \"AlarmArmed\":\n        case \"AlarmTriggered\":\n        case \"AlarmWrongPinEntered\":\n            return [null, null];\n        case \"AlarmIntruderAlert\":\n            return [null, newMsg];\n    }\n}\nelse if (msg.topic == \"/socket1/ChangedLight\")\n{\n    msg.payload = field+\"=\"+msg.payload ;\n    return [msg, null];\n}\n\nreturn [null, null];\n\n","outputs":"2","noerr":0,"x":488.00000762939453,"y":443.86905574798584,"wires":[["d18e40f4.2e71c"],["9b4ea69a.64b158"]]},{"id":"67082b4a.98f7d4","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/StateFanSpeed","broker":"c2a771eb.3d589","x":126.78573608398438,"y":142.3571319580078,"wires":[["7dbdd321.82422c"]]},{"id":"7dbdd321.82422c","type":"function","z":"ffc1382c.003ec8","name":"collate","func":"var field = \"\";\n\ncontext.global.intSocket1FanState   = context.global.intSocket1FanState   || 0;\ncontext.global.intSocket1FanSpeed   = context.global.intSocket1FanSpeed   || 0;\n\nswitch(msg.topic) {\n     case \"/socket1/ChangedFan\":\n         context.global.intSocket1FanState = parseInt(msg.payload.trim());\n         field = \"field5\";\n     break;\n     case \"/socket1/StateFan\":\n         context.global.intSocket1FanState = parseInt(msg.payload.trim());\n     break;\n     case \"/socket1/ChangedFanSpeed\":\n         context.global.intSocket1FanSpeed = parseInt(msg.payload.trim());\n         field = \"field6\";\n     break;\n     case \"/socket1/StateFanSpeed\":\n         context.global.intSocket1FanSpeed = parseInt(msg.payload.trim());\n     break;\n}\n\ncontext.buff = context.buff || \"\";\ncontext.count = context.count || 0;\n\nif (msg.topic != \"purge\") {\n    if (context.buff.length > 0) {\n        context.buff = context.buff+\"&\"+field+\"=\"+msg.payload;\n    } else {\n        context.buff = field+\"=\"+msg.payload;\n    }\n    context.count += 1;\n }\n \nif (context.count == 2 || (msg.payload==\"purge\" && context.count >= 1)) {\n     msg.topic=\"\";\n     msg.payload = context.buff;\n     context.buff = \"\";\n     context.count = 0;\n     return msg;\n}\n \nreturn null;","outputs":1,"noerr":0,"x":463.6071472167969,"y":122.73797607421875,"wires":[["d18e40f4.2e71c"]]},{"id":"d18e40f4.2e71c","type":"delay","z":"ffc1382c.003ec8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1054.1665649414062,"y":617.3810424804688,"wires":[["7ab254d4.854dac"]]},{"id":"d6dd4d50.2922b","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/socket1/LightCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1349.90478515625,"y":231.33331298828125,"wires":[]},{"id":"1decbde.fe21342","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/socket1/FanCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1349.142822265625,"y":264.09521484375,"wires":[]},{"id":"bc81a9aa.437e58","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/socket1/LedCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1353.8095703125,"y":327.90478515625,"wires":[]},{"id":"45f1a9ba.ba0e58","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/socket1/LedColorCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1377.1427001953125,"y":421.33331298828125,"wires":[]},{"id":"814fd6e5.7eb028","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/socket1/FanSpeedCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1371.5238037109375,"y":295.33331298828125,"wires":[]},{"id":"6edf5b82.9120a4","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/socket1/LedModeCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1373.71435546875,"y":360.8571472167969,"wires":[]},{"id":"208a25e.fdf75da","type":"delay","z":"ffc1382c.003ec8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":686.857177734375,"y":638.4761962890625,"wires":[["d18e40f4.2e71c"]]},{"id":"2671138e.d98eec","type":"inject","z":"ffc1382c.003ec8","name":"","topic":"timestamp","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"x":139.85713958740234,"y":2911.809202194214,"wires":[["6d4ae80b.92b518"]]},{"id":"6d4ae80b.92b518","type":"function","z":"ffc1382c.003ec8","name":"TimeStamp","func":"// Create a Date object from the payload\nvar date = new Date();\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\nmsg.payload = msg.payload.split(\" \");\nmsg.payload = msg.payload[0] + \" \" + msg.payload[1] + \" \" + msg.payload[2] + \" \" + msg.payload[3] + \" \" + msg.payload[4]; \n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":794.4285583496094,"y":2901.3807344436646,"wires":[["8e39a7f.f71c658"]]},{"id":"8e39a7f.f71c658","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/TimestampCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1430.8570709228516,"y":2895.571409225464,"wires":[]},{"id":"503cafe0.afc35","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/board6/LightCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1417.7621154785156,"y":2338.7818336486816,"wires":[]},{"id":"8fa047f0.705fb8","type":"function","z":"ffc1382c.003ec8","name":"","func":"var newMsg = { payload: msg.payload.trim() };\n\ncontext.global.intOutlet2LightState = context.global.intOutlet2LightState || 0;\n\nswitch(newMsg.payload) {\n    case '0':\n        context.global.intOutlet2LightState = 0;\n    break;\n    case '1':\n        context.global.intOutlet2LightState = 1;\n    break;\n}        \n\nreturn msg;","outputs":1,"noerr":0,"x":766.6547737121582,"y":2634.2741117477417,"wires":[["503cafe0.afc35"]]},{"id":"ccbc7c4e.33438","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/StateWatts","broker":"c2a771eb.3d589","x":123.76191711425781,"y":757.4761352539062,"wires":[["7a7a9018.85857"]]},{"id":"36ab16b2.c954ea","type":"http request","z":"ffc1382c.003ec8","name":"Thingspeak","method":"POST","ret":"txt","url":"http://api.thingspeak.com/update?key=YF2DC4HXFSUQUIEE&+msg.payload","x":1378.7698059082031,"y":2449.277720451355,"wires":[[]]},{"id":"5426a6ad.abd958","type":"function","z":"ffc1382c.003ec8","name":"collate","func":"var newMsg = { payload: ''};\nnewMsg.topic = '';\n\n\ncontext.global.intBoard6LightState = context.global.intBoard6LightState || 0;\ncontext.global.intBoard6SocketState = context.global.intBoard6SocketState || 0;\n\nswitch(msg.topic) {\n    case \"/board6/ChangedLight\":\n        context.global.intBoard6LightState = parseInt(msg.payload.trim());\n    break;\n    case \"/board6/ChangedSocket\":\n        context.global.intBoard6SocketState = parseInt(msg.payload.trim());\n    break;    \n    case \"/board6/StateAll\":\n        var myMsg = msg.payload.split(\",\");\n        context.global.intBoard6LightState = parseInt(myMsg[9]);\n        context.global.intBoard6SocketState = parseInt(myMsg[10]);\n        newMsg.payload = \"field1=\" + myMsg[7] + \"&field2=\" + myMsg[6] + \"&field3=\" + myMsg[4] + \"&field4=\" + myMsg[1] + \"&field5=\" + myMsg[2] + \"&field6=\" + myMsg[3] + \"&field7=\" + myMsg[0] + \"&field8=\" + myMsg[5];\n        if (parseInt(myMsg[11]) == 1)\n        {\n            msg.topic = \"\";\n            msg.payload = myMsg[11]+\"\\n\";\n            return [newMsg, msg];\n        }\n        else\n        {\n            return [newMsg, null];\n        }\n        \n    break;\n}\n\nreturn [null, null];","outputs":"2","noerr":0,"x":466.49997329711914,"y":2376.309627532959,"wires":[["a3aefd8d.5c51"],["ea648ba2.b38548"]]},{"id":"a3aefd8d.5c51","type":"delay","z":"ffc1382c.003ec8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"60","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":785.1785888671875,"y":2432.52388381958,"wires":[["36ab16b2.c954ea"]]},{"id":"9e661d77.6199e","type":"twitter in","z":"ffc1382c.003ec8","twitter":"38744537.c78bba","tags":"SwitchOn, SwitchOff","user":"true","name":"","topic":"tweets","x":157.16669464111328,"y":2636.0598468780518,"wires":[["3dd8ec18.c22714"]]},{"id":"3dd8ec18.c22714","type":"function","z":"ffc1382c.003ec8","name":"ProcessTwitterInput","func":"var newMsg = { payload: msg.payload.trim() };\nvar msg = { payload: \"\"};\n\n\n//if ((myMsg[0].toUpperCase() == \"SwitchOn\") || (myMsg[1].toUpperCase() == \"SwitchOn\"))\nif (newMsg.payload.search(\"Switch On Living Room Light\") > 0)\n{\n    msg.payload = \"1\";\n}\nelse if (newMsg.payload.search(\"Switch Off Living Room Light\") > 0)\n{\n    msg.payload = \"0\";\n}\n\nreturn msg;","outputs":"1","noerr":0,"x":508.36903381347656,"y":2634.6069660186768,"wires":[["8fa047f0.705fb8"]]},{"id":"da318e39.25ce7","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/board2/LightCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1371.285888671875,"y":919.5,"wires":[]},{"id":"4e2577fd.b1da88","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/board2/LedCommand","qos":"0","retain":"","broker":"c2a771eb.3d589","x":1368.5714111328125,"y":955.142822265625,"wires":[]},{"id":"ededd6ff.121228","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/board2/LedModeCommand","qos":"0","retain":"","broker":"c2a771eb.3d589","x":1386.5714111328125,"y":989.4285888671875,"wires":[]},{"id":"1f55e246.e0aa1e","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/board2/LedColorCommand","qos":"0","retain":"","broker":"c2a771eb.3d589","x":1386.2855224609375,"y":1064.28564453125,"wires":[]},{"id":"f3c6a60.f0c3958","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/nps/OnCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1369.142822265625,"y":1222.3570556640625,"wires":[]},{"id":"12a205d7.ed5dfa","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/nps/OffCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1371.4287109375,"y":1255.4287109375,"wires":[]},{"id":"51cd9131.ae327","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/nps/StateResponse","broker":"c2a771eb.3d589","x":149.71429443359375,"y":1267.4285888671875,"wires":[["39362064.c6c9e"]]},{"id":"39362064.c6c9e","type":"function","z":"ffc1382c.003ec8","name":"collate","func":"context.global.intNps1State         = context.global.intNps1State         || 0;\ncontext.global.intNps2State         = context.global.intNps2State         || 0;\ncontext.global.intNps3State         = context.global.intNps3State         || 0;\ncontext.global.intNps4State         = context.global.intNps4State         || 0;\ncontext.global.intNps5State         = context.global.intNps5State         || 0;\ncontext.global.intNps6State         = context.global.intNps6State         || 0;\ncontext.global.intNps7State         = context.global.intNps7State         || 0;\ncontext.global.intNps8State         = context.global.intNps8State         || 0;\ncontext.global.intNps9State         = context.global.intNps9State         || 0;\ncontext.global.intNps10State        = context.global.intNps10State        || 0;\ncontext.global.intNps11State        = context.global.intNps11State        || 0;\ncontext.global.intNps12State        = context.global.intNps12State        || 0;\ncontext.global.intNps13State        = context.global.intNps13State        || 0;\ncontext.global.intNps14State        = context.global.intNps14State        || 0;\ncontext.global.intNps15State        = context.global.intNps15State        || 0;\ncontext.global.intNps16State        = context.global.intNps16State        || 0;\ncontext.global.intNps17State        = context.global.intNps17State        || 0;\ncontext.global.intNps18State        = context.global.intNps18State        || 0;\ncontext.global.intNps19State        = context.global.intNps19State        || 0;\ncontext.global.intNps20State        = context.global.intNps20State        || 0;\n\nvar relayStates = msg.payload.split(\"\");\n\nif (relayStates[0] == \"1\")\n{\n    context.global.intNps1State = 1;\n}\nelse\n{\n    context.global.intNps1State = 0;\n}\n\nif (relayStates[1] == \"1\")\n{\n    context.global.intNps2State = 1;\n}\nelse\n{\n    context.global.intNps2State = 0;\n}\n\nif (relayStates[2] == \"1\")\n{\n    context.global.intNps3State = 1;\n}\nelse\n{\n    context.global.intNps3State = 0;\n}\n\nif (relayStates[3] == \"1\")\n{\n    context.global.intNps4State = 1;\n}\nelse\n{\n    context.global.intNps4State = 0;\n}\n\nif (relayStates[4] == \"1\")\n{\n    context.global.intNps5State = 1;\n}\nelse\n{\n    context.global.intNps5State = 0;\n}\n\nif (relayStates[5] == \"1\")\n{\n    context.global.intNps6State = 1;\n}\nelse\n{\n    context.global.intNps6State = 0;\n}\n\nif (relayStates[6] == \"1\")\n{\n    context.global.intNps7State = 1;\n}\nelse\n{\n    context.global.intNps7State = 0;\n}\n\nif (relayStates[7] == \"1\")\n{\n    context.global.intNps8State = 1;\n}\nelse\n{\n    context.global.intNps8State = 0;\n}\n\nif (relayStates[8] == \"1\")\n{\n    context.global.intNps9State = 1;\n}\nelse\n{\n    context.global.intNps9State = 0;\n}\n\nif (relayStates[9] == \"1\")\n{\n    context.global.intNps10State = 1;\n}\nelse\n{\n    context.global.intNps10State = 0;\n}\n\nif (relayStates[10] == \"1\")\n{\n    context.global.intNps11State = 1;\n}\nelse\n{\n    context.global.intNps11State = 0;\n}\n\nif (relayStates[11] == \"1\")\n{\n    context.global.intNps12State = 1;\n}\nelse\n{\n    context.global.intNps12State = 0;\n}\n\nif (relayStates[12] == \"1\")\n{\n    context.global.intNps13State = 1;\n}\nelse\n{\n    context.global.intNps13State = 0;\n}\n\nif (relayStates[13] == \"1\")\n{\n    context.global.intNps14State = 1;\n}\nelse\n{\n    context.global.intNps14State = 0;\n}\n\nif (relayStates[14] == \"1\")\n{\n    context.global.intNps15State = 1;\n}\nelse\n{\n    context.global.intNps15State = 0;\n}\n\nif (relayStates[15] == \"1\")\n{\n    context.global.intNps16State = 1;\n}\nelse\n{\n    context.global.intNps16State = 0;\n}\n\nif (relayStates[16] == \"1\")\n{\n    context.global.intNps17State = 1;\n}\nelse\n{\n    context.global.intNps17State = 0;\n}\n\nif (relayStates[17] == \"1\")\n{\n    context.global.intNps18State = 1;\n}\nelse\n{\n    context.global.intNps18State = 0;\n}\n\nif (relayStates[18] == \"1\")\n{\n    context.global.intNps19State = 1;\n}\nelse\n{\n    context.global.intNps19State = 0;\n}\n\nif (relayStates[19] == \"1\")\n{\n    context.global.intNps20State = 1;\n}\nelse\n{\n    context.global.intNps20State = 0;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":438.0714111328125,"y":1266.857177734375,"wires":[[]]},{"id":"b2fc2b9f.4d03d8","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/board2/LedSpeedCommand","qos":"0","retain":"","broker":"c2a771eb.3d589","x":1389.14306640625,"y":1027.1429443359375,"wires":[]},{"id":"9c113952.63eec8","type":"function","z":"b3dfe59e.4c2018","name":"","func":"var newMsg = { payload: msg.payload.trim() };\nvar myMsg=newMsg.payload.split(\" \");\n\nnewMsg.topic='';\n\n\ncontext.global.intPriorityCommand   = context.global.intPriorityCommand   || 0;\nswitch(newMsg.payload) {\n    case 'cubeStop':\n        newMsg.payload=\"0\";\n        return [newMsg, msg];\n    case 'cubeForward':\n        newMsg.payload=\"1\";\n        return [newMsg, msg];\n    case 'cubeBack':\n        newMsg.payload=\"2\";\n        return [newMsg, msg];\n}\n\nreturn [newMsg, msg];\n","outputs":"2","x":478,"y":263,"wires":[["6cd6815f.93298","497f46c.fb680b8"],["76c5e1a2.893a2"]]},{"id":"aa2cad24.55d35","type":"tcp in","z":"b3dfe59e.4c2018","name":"","server":"server","host":"","port":"5002","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":183,"y":265,"wires":[["9c113952.63eec8"]]},{"id":"6cd6815f.93298","type":"mqtt out","z":"b3dfe59e.4c2018","name":"","topic":"/priority/command","qos":"","retain":"","broker":"9d48b580.62b748","x":855,"y":266,"wires":[]},{"id":"76c5e1a2.893a2","type":"tcp out","z":"b3dfe59e.4c2018","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":876,"y":350,"wires":[]},{"id":"497f46c.fb680b8","type":"debug","z":"b3dfe59e.4c2018","name":"","active":true,"console":"false","complete":"false","x":541,"y":490,"wires":[]},{"id":"f645826a.09ba8","type":"mqtt in","z":"b3dfe59e.4c2018","name":"","topic":"/smartbin1/level","broker":"c2a771eb.3d589","x":158,"y":397,"wires":[["497f46c.fb680b8"]]},{"id":"d05d54fa.2fa2a8","type":"mqtt in","z":"b3dfe59e.4c2018","name":"","topic":"/smartbin1/smoke","broker":"c2a771eb.3d589","x":165,"y":448,"wires":[["497f46c.fb680b8"]]},{"id":"6fbf6187.9040a","type":"function","z":"ffc1382c.003ec8","name":"processBoard5","func":"var newMsg = { payload: msg.payload.trim() };\nvar myMsg=newMsg.payload.split(\" \");\n\nnewMsg.topic='';\n\ncontext.global.intBoard5FanState              = context.global.intBoard5FanState              || 0;\ncontext.global.intBoard5FanSpeed              = context.global.intBoard5FanSpeed              || 0;\ncontext.global.intBoard5RoomLightState        = context.global.intBoard5RoomLightState        || 0;\ncontext.global.intBoard5DoorLightState        = context.global.intBoard5DoorLightState        || 0;\ncontext.global.intBoard5CeilingState          = context.global.intBoard5CeilingState          || 0;\ncontext.global.intBoard5SocketState           = context.global.intBoard5SocketState           || 0;\ncontext.global.intBoard5CurrDevice            = context.global.intBoard5CurrDevice            || 0;\ncontext.global.intBoard5ShowBigClock          = context.global.intBoard5ShowBigClock          || 0;\ncontext.global.intBoard5HideDisplay           = context.global.intBoard5HideDisplay           || 0;\ncontext.global.intBoard5EnableAutoHideDisplay = context.global.intBoard5EnableAutoHideDisplay || 0;\n\nswitch(myMsg[0]) {\n    case 'board5FanOff':\n        newMsg.payload=\"0\";\n        return [msg, newMsg, null, null, null, null, null, null, null, null];\n    case 'board5FanOn':\n        newMsg.payload=\"1\";\n        return [msg, newMsg, null, null, null, null, null, null, null, null];\n    case 'readBoard5FanState':\n        msg.payload=context.global.intBoard5FanState.toString()+\"\\n\";\n        return [msg, null, null, null, null, null, null, null, null, null];\n    case 'setBoard5FanSpeed':\n        newMsg.payload = myMsg[1].trim();\n        context.global.intBoard5FanSpeed = parseInt(myMsg[1].trim());\n        return [msg, null, newMsg, null, null, null, null, null, null, null];    \n    case 'readBoard5FanSpeed':\n        msg.payload=context.global.intBoard5FanSpeed.toString()+\"\\n\";\n        return [msg, null, null, null, null, null, null, null, null, null];\n    case 'board5RoomLightOff':\n        newMsg.payload=\"0\";\n        return [msg, null, null, newMsg, null, null, null, null, null, null];\n    case 'board5RoomLightOn':\n        newMsg.payload=\"1\";\n        return [msg, null, null, newMsg, null, null, null, null, null, null];\n    case 'readBoard5RoomLightState':\n        msg.payload=context.global.intBoard5RoomLightState.toString()+\"\\n\";\n        return [msg, null, null, null, null, null, null, null, null, null];\n    case 'board5DoorLightOff':\n        newMsg.payload=\"0\";\n        return [msg, null, null, null, newMsg, null, null, null, null, null];\n    case 'board5DoorLightOn':\n        newMsg.payload=\"1\";\n        return [msg, null, null, null, newMsg, null, null, null, null, null];\n    case 'readBoard5DoorLightState':\n        msg.payload=context.global.intBoard5DoorLightState.toString()+\"\\n\";\n        return [msg, null, null, null, null, null, null, null, null, null];\n    case 'board5CeilingOff':\n        newMsg.payload=\"0\";\n        return [msg, null, null, null, null, newMsg, null, null, null, null];\n    case 'board5CeilingOn':\n        newMsg.payload=\"1\";\n        return [msg, null, null, null, null, newMsg, null, null, null, null];\n    case 'readBoard5CeilingState':\n        msg.payload=context.global.intBoard5CeilingState.toString()+\"\\n\";\n        return [msg, null, null, null, null, null, null, null, null, null];\n    case 'board5SocketOff':\n        newMsg.payload=\"0\";\n        return [msg, null, null, null, null, null, newMsg, null, null, null];\n    case 'board5SocketOn':\n        newMsg.payload=\"1\";\n        return [msg, null, null, null, null, null, newMsg, null, null, null];\n    case 'readBoard5SocketState':\n        msg.payload=context.global.intBoard5SocketState.toString()+\"\\n\";\n        return [msg, null, null, null, null, null, null, null, null, null];\n    case 'board5ShowBigClockOff':\n        context.global.intBoard5ShowBigClock = 0;\n        newMsg.payload=context.global.intBoard5ShowBigClock.toString()+\",\"+context.global.intBoard5HideDisplay.toString()+\",\"+context.global.intBoard5EnableAutoHideDisplay.toString();\n        return [msg, null, null, null, null, null, null, null, null, newMsg];\n    case 'board5ShowBigClockOn':\n        context.global.intBoard5ShowBigClock = 1;\n        newMsg.payload=context.global.intBoard5ShowBigClock.toString()+\",\"+context.global.intBoard5HideDisplay.toString()+\",\"+context.global.intBoard5EnableAutoHideDisplay.toString();\n        return [msg, null, null, null, null, null, null, null, null, newMsg];\n    case 'readBoard5ShowBigClock':\n        msg.payload=context.global.intBoard5ShowBigClock.toString()+\"\\n\";\n        return [msg, null, null, null, null, null, null, null, null, null];\n    case 'board5HideDisplayOff':\n        context.global.intBoard5HideDisplay = 0;\n        newMsg.payload=context.global.intBoard5ShowBigClock.toString()+\",\"+context.global.intBoard5HideDisplay.toString()+\",\"+context.global.intBoard5EnableAutoHideDisplay.toString();\n        return [msg, null, null, null, null, null, null, null, null, newMsg];\n    case 'board5HideDisplayOn':\n        context.global.intBoard5HideDisplay = 1;\n        newMsg.payload=context.global.intBoard5ShowBigClock.toString()+\",\"+context.global.intBoard5HideDisplay.toString()+\",\"+context.global.intBoard5EnableAutoHideDisplay.toString();\n        return [msg, null, null, null, null, null, null, null, null, newMsg];\n    case 'readBoard5HideDisplay':\n        msg.payload=context.global.intBoard5HideDisplay.toString()+\"\\n\";\n        return [msg, null, null, null, null, null, null, null, null, null];\n    case 'board5EnableAutoHideDisplayOff':\n        context.global.intBoard5EnableAutoHideDisplay = 0;\n        newMsg.payload=context.global.intBoard5ShowBigClock.toString()+\",\"+context.global.intBoard5HideDisplay.toString()+\",\"+context.global.intBoard5EnableAutoHideDisplay.toString();\n        return [msg, null, null, null, null, null, null, null, null, newMsg];\n    case 'board5EnableAutoHideDisplayOn':\n        context.global.intBoard5EnableAutoHideDisplay = 1;\n        newMsg.payload=context.global.intBoard5ShowBigClock.toString()+\",\"+context.global.intBoard5HideDisplay.toString()+\",\"+context.global.intBoard5EnableAutoHideDisplay.toString();\n        return [msg, null, null, null, null, null, null, null, null, newMsg];\n    case 'readBoard5EnableAutoHideDisplay':\n        msg.payload=context.global.intBoard5EnableAutoHideDisplay.toString()+\"\\n\";\n        return [msg, null, null, null, null, null, null, null, null, null];\n}\n","outputs":"10","noerr":0,"x":752.6668395996094,"y":1794.6906776428223,"wires":[["84488176.7bb78"],["748d4f89.8b72b"],["c154e635.3eab18"],["2a28689a.d5d798"],["42600906.bd9ff8"],["d0d94e78.2f26b"],["2580b44f.da7f4c"],["567590aa.a98a7"],["2e975b70.d168a4"],["20779c55.1292b4"]]},{"id":"748d4f89.8b72b","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/board5/FanCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1397.3810424804688,"y":1677.6190032958984,"wires":[]},{"id":"c154e635.3eab18","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/board5/FanSpeedCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1418.8094444274902,"y":1706.428228378296,"wires":[]},{"id":"2a28689a.d5d798","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/board5/RoomLightCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1422.3806953430176,"y":1737.8573188781738,"wires":[]},{"id":"42600906.bd9ff8","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/board5/DoorLightCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1421.6664123535156,"y":1770.2375869750977,"wires":[]},{"id":"d0d94e78.2f26b","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/board5/CeilingCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1411.6664962768555,"y":1801.4284887313843,"wires":[]},{"id":"2580b44f.da7f4c","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/board5/SocketCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1412.2854843139648,"y":1833.8092041015625,"wires":[]},{"id":"567590aa.a98a7","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/board5/CurrDeviceCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1426.0951385498047,"y":1865.1900625228882,"wires":[]},{"id":"2e975b70.d168a4","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/board5/IRCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1397.8570861816406,"y":1896.618860244751,"wires":[]},{"id":"23473697.dcb8ca","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board5/StateChangedFan","broker":"c2a771eb.3d589","x":156.28570556640625,"y":1767.3333435058594,"wires":[["475fe7b.fb8a018"]]},{"id":"b1628f99.4e9d7","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board5/StateChangedFanSpeed","broker":"c2a771eb.3d589","x":177.90475845336914,"y":1798.618709564209,"wires":[["475fe7b.fb8a018"]]},{"id":"dd0148c.f22feb8","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board5/StateChangedRoomLight","broker":"c2a771eb.3d589","x":179.57143783569336,"y":1828.8567457199097,"wires":[["475fe7b.fb8a018"]]},{"id":"2d7e6d.ffd28194","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board5/StateChangedDoorLight","broker":"c2a771eb.3d589","x":176.7618637084961,"y":1858.3808975219727,"wires":[["475fe7b.fb8a018"]]},{"id":"6523364c.9adcc8","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board5/StateChangedCeiling","broker":"c2a771eb.3d589","x":167.95236206054688,"y":1888.999828338623,"wires":[["475fe7b.fb8a018"]]},{"id":"7164c7d.f8e9b38","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board5/StateChangedSocket","broker":"c2a771eb.3d589","x":167.23806381225586,"y":1919.9522552490234,"wires":[["475fe7b.fb8a018"]]},{"id":"2b47cde6.d4b832","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board5/StateChangedCurrDevice","broker":"c2a771eb.3d589","x":181.90472793579102,"y":1950.4282417297363,"wires":[["475fe7b.fb8a018"]]},{"id":"475fe7b.fb8a018","type":"function","z":"ffc1382c.003ec8","name":"collate","func":"var field = \"\";\n\ncontext.global.intBoard5FanState              = context.global.intBoard5FanState              || 0;\ncontext.global.intBoard5FanSpeed              = context.global.intBoard5FanSpeed              || 0;\ncontext.global.intBoard5RoomLightState        = context.global.intBoard5RoomLightState        || 0;\ncontext.global.intBoard5DoorLightState        = context.global.intBoard5DoorLightState        || 0;\ncontext.global.intBoard5CeilingState          = context.global.intBoard5CeilingState          || 0;\ncontext.global.intBoard5SocketState           = context.global.intBoard5SocketState           || 0;\ncontext.global.intBoard5CurrDevice            = context.global.intBoard5CurrDevice            || 0;\n\ncontext.global.intBoard5MotionDetected        = context.global.intBoard5MotionDetected        || 0;\n\ncontext.global.intBoard5ShowBigClock          = context.global.intBoard5ShowBigClock          || 0;\ncontext.global.intBoard5HideDisplay           = context.global.intBoard5HideDisplay           || 0;\ncontext.global.intBoard5EnableAutoHideDisplay = context.global.intBoard5EnableAutoHideDisplay || 0;\n\nswitch(msg.topic) {\n    case \"/board5/StateAll\":\n        var myMsg = msg.payload.split(\",\");\n        context.global.intBoard5FanState              = parseInt(myMsg[0]);\n        context.global.intBoard5FanSpeed              = parseInt(myMsg[1]);\n        context.global.intBoard5RoomLightState        = parseInt(myMsg[2]);\n        context.global.intBoard5DoorLightState        = parseInt(myMsg[3]);\n        context.global.intBoard5CeilingState          = parseInt(myMsg[4]);\n        context.global.intBoard5SocketState           = parseInt(myMsg[5]);\n        context.global.intBoard5CurrDevice            = parseInt(myMsg[6]);\n        context.global.intBoard5MotionDetected        = parseInt(myMsg[7]);\n        context.global.intBoard5ShowBigClock          = parseInt(myMsg[8]);\n        context.global.intBoard5HideDisplay           = parseInt(myMsg[9]);\n        context.global.intBoard5EnableAutoHideDisplay = parseInt(myMsg[10]);\n    break;\n    case \"/board5/StateChangedFan\":\n        context.global.intBoard5FanState = parseInt(msg.payload.trim());\n    break;\n    case \"/board5/StateChangedFanSpeed\":\n        context.global.intBoard5FanSpeed = parseInt(msg.payload.trim());\n    break;\n    case \"/board5/StateChangedRoomLight\":\n        context.global.intBoard5RoomLightState = parseInt(msg.payload.trim());\n    break;\n    case \"/board5/StateChangedDoorLight\":\n        context.global.intBoard5DoorLightState = parseInt(msg.payload.trim());\n    break;\n    case \"/board5/StateChangedCeiling\":\n        context.global.intBoard5CeilingState = parseInt(msg.payload.trim());\n    break;\n    case \"/board5/StateChangedSocket\":\n        context.global.intBoard5SocketState = parseInt(msg.payload.trim());\n    break;\n    case \"/board5/StateChangedCurrDevice\":\n        context.global.intBoard5CurrDevice = parseInt(msg.payload.trim());\n    break;\n}\n\nif (context.global.intBoard5MotionDetected == 1)\n{\n    msg.topic = \"\";\n    msg.payload=context.global.intBoard5MotionDetected.toString()+\"\\n\";\n    return msg;\n}\nelse\n{\n    return null;\n}","outputs":1,"noerr":0,"x":483.8214797973633,"y":1843.7859153747559,"wires":[["ea648ba2.b38548"]]},{"id":"c8baa937.374558","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/pi2/ir_remote","broker":"c2a771eb.3d589","x":119.952392578125,"y":2179.380889892578,"wires":[["b5599707.4aa668"]]},{"id":"b5599707.4aa668","type":"function","z":"ffc1382c.003ec8","name":"","func":"var newMsg = { payload: msg.payload.trim() };\nvar myMsg=newMsg.payload.split(\" \");\n\ncontext.global.intBoard5CurrDevice = context.global.intBoard5CurrDevice     || 0;\n\nnewMsg.topic='';\n\nnewMsg.payload = {\"IRCommandCode\":parseInt(msg.payload, 16), \"IRCommandDevice\":context.global.intBoard5CurrDevice};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":746.7856140136719,"y":2194.4761838912964,"wires":[["2e975b70.d168a4"]]},{"id":"6290e8c3.9d6f18","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board5/StateIRAction","broker":"c2a771eb.3d589","x":143.42857360839844,"y":2008.571044921875,"wires":[[]]},{"id":"35bfc34d.ca403c","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/ChangedFan","broker":"c2a771eb.3d589","x":118.70130157470703,"y":111.35067749023438,"wires":[["7dbdd321.82422c"]]},{"id":"58e7da55.a71824","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/ChangedFanSpeed","broker":"c2a771eb.3d589","x":139.5584373474121,"y":171.3506326675415,"wires":[["7dbdd321.82422c"]]},{"id":"6c0bcb08.93f434","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/ChangedLight","broker":"c2a771eb.3d589","x":124.98703002929688,"y":241.922119140625,"wires":[["1e2dc9b2.e1d236"]]},{"id":"872f4171.78d0c","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/ChangedLed","broker":"c2a771eb.3d589","x":124.41559600830078,"y":304.2077941894531,"wires":[["1e2dc9b2.e1d236"]]},{"id":"d15e28c0.2ea1d8","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/nps/ResetCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1380.285888671875,"y":1292.0001220703125,"wires":[]},{"id":"fc2330e5.03dcd","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board2/StateAll","broker":"c2a771eb.3d589","x":123,"y":921.8570556640625,"wires":[["d10bbb0f.2ef448"]]},{"id":"2e3df3dd.d1c20c","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board2/ChangedLight","broker":"c2a771eb.3d589","x":141.57142639160156,"y":957.5712890625,"wires":[["d10bbb0f.2ef448"]]},{"id":"d1947139.2e6b9","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board2/ChangedLed","broker":"c2a771eb.3d589","x":138.85714721679688,"y":991.7142333984375,"wires":[["d10bbb0f.2ef448"]]},{"id":"f808e3b8.07f72","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board2/ChangedLedMode","broker":"c2a771eb.3d589","x":157.42857360839844,"y":1025.142822265625,"wires":[["d10bbb0f.2ef448"]]},{"id":"ebb0ec13.144f1","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board2/ChangedLedSpeed","broker":"c2a771eb.3d589","x":160.85714721679688,"y":1063.7142333984375,"wires":[["d10bbb0f.2ef448"]]},{"id":"a9dc043f.5623f8","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board2/ChangedLedColor","broker":"c2a771eb.3d589","x":154.85714721679688,"y":1100.2857666015625,"wires":[["d10bbb0f.2ef448"]]},{"id":"d10bbb0f.2ef448","type":"function","z":"ffc1382c.003ec8","name":"collate","func":"var field = \"\";\n\ncontext.global.intBoard2LightState      = context.global.intBoard2LightState     || 0;\ncontext.global.intBoard2LedState        = context.global.intBoard2LedState       || 0;\ncontext.global.intBoard2LedMode         = context.global.intBoard2LedMode        || 0;\ncontext.global.intBoard2LedSpeed        = context.global.intBoard2LedSpeed       || 0;\ncontext.global.intBoard2LedColorRed     = context.global.intBoard2LedColorRed    || 0;\ncontext.global.intBoard2LedColorGreen   = context.global.intBoard2LedColorGreen  || 0;\ncontext.global.intBoard2LedColorBlue    = context.global.intBoard2LedColorBlue   || 0;\n\nswitch(msg.topic) {\n    case \"/board2/StateAll\":\n        var myMsg = msg.payload.split(\",\");\n        context.global.intBoard2LightState      = parseInt(myMsg[0]);\n        context.global.intBoard2LedState        = parseInt(myMsg[1]);\n        context.global.intBoard2LedMode         = parseInt(myMsg[2]);\n        context.global.intBoard2LedSpeed        = parseInt(myMsg[3]);\n        context.global.intBoard2LedColorRed     = parseInt(myMsg[4]);\n        context.global.intBoard2LedColorGreen   = parseInt(myMsg[5]);\n        context.global.intBoard2LedColorBlue    = parseInt(myMsg[6]);\n    break;\n    case \"/board2/ChangedLight\":\n        context.global.intBoard2LightState = parseInt(msg.payload.trim());\n    break;\n    case \"/board2/ChangedLed\":\n        context.global.intBoard2LedState = parseInt(msg.payload.trim());\n    break;\n    case \"/board2/ChangedLedMode\":\n        context.global.intBoard2LedMode = parseInt(msg.payload.trim());\n    break;\n    case \"/board2/ChangedLedSpeed\":\n        context.global.intBoard2LedSpeed = parseInt(msg.payload.trim());\n    break;\n    case \"/board2/ChangedLedColor\":\n        var myMsg = msg.payload.split(\",\");\n        context.global.intBoard2LedColorRed     = parseInt(myMsg[0]);\n        context.global.intBoard2LedColorGreen   = parseInt(myMsg[1]);\n        context.global.intBoard2LedColorBlue    = parseInt(myMsg[2]);\n    break;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":447.28570556640625,"y":1012.928466796875,"wires":[[]]},{"id":"333f1c65.ccc0e4","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board5/SendCommand","broker":"c2a771eb.3d589","x":148.85712432861328,"y":2054.5718994140625,"wires":[["d845c385.27ba4"]]},{"id":"d845c385.27ba4","type":"function","z":"ffc1382c.003ec8","name":"","func":"var newMsg = { payload: msg.payload.trim() };\nvar myMsg=newMsg.payload.split(\" \");\n\nnewMsg.topic='';\n\ncontext.global.intBoard2LedMode         = context.global.intBoard2LedMode        || 0;\ncontext.global.intBoard2LedColorRed     = context.global.intBoard2LedColorRed    || 0;\ncontext.global.intBoard2LedColorGreen   = context.global.intBoard2LedColorGreen  || 0;\ncontext.global.intBoard2LedColorBlue    = context.global.intBoard2LedColorBlue   || 0;\n\ncontext.global.intNps2State             = context.global.intNps2State            || 0;\n\ncontext.global.intColorNumber           = context.global.intColorNumber          || 0;\n\nswitch(myMsg[0])\n{\n    case 'setBoard2TubeOn':\n        newMsg.payload=\"1\";\n        return [newMsg, null, null, null, null, null];\n    case 'setBoard2TubeOff':\n        newMsg.payload=\"0\";\n        return [newMsg, null, null, null, null, null];\n    case 'setBoard2LedOn':\n        newMsg.payload=\"1\";\n        return [null, newMsg, null, null, null, null];\n    case 'setBoard2LedOff':\n        newMsg.payload=\"0\";\n        return [null, newMsg, null, null, null, null];\n    case 'increaseSocket3LedMode':\n        context.global.intBoard2LedMode = context.global.intBoard2LedMode + 1;\n        if (context.global.intBoard2LedMode > 19)\n        {\n            context.global.intBoard2LedMode = 0;\n        }\n        \n        // To send to MQTT\n        newMsg.payload=context.global.intBoard2LedMode.toString()+\"\\n\";\n\n        return [null, null, newMsg, null, null, null];\n    case 'changeBoard2LedMode':\n        context.global.intBoard2LedMode = parseInt(myMsg[1].trim());\n        newMsg.payload=context.global.intBoard2LedMode.toString()+\"\\n\";\n        return [null, null, newMsg, null, null, null];\n    case 'setBoard2LedSpeed':\n        newMsg.payload=myMsg[1];\n        return [null, null, null, newMsg, null, null];\n    case 'sendXY':\n        newMsg.payload=myMsg[1] + \" \" + myMsg[2];\n        return [null, null, null, null, newMsg, null];\n    case 'setBoard2LedWhiteness':\n        var p = parseInt(myMsg[1]);\n        var R = context.global.intBoard2LedColorRed;\n        var G = context.global.intBoard2LedColorGreen;\n        var B = context.global.intBoard2LedColorBlue;\n        \n        var newR = R + (255-R)*(10-p)/10;\n        var newG = G + (255-G)*(10-p)/10;\n        var newB = B + (255-B)*(10-p)/10;\n        \n        newMsg.payload = \"setBoard2RGB \" + parseInt(newR).toString() + \" \" + parseInt(newG).toString() + \" \" + parseInt(newB).toString();\n        return [null, null, null, null, null, newMsg];\n    case 'setBoard2LedBlackness':\n        var p = parseInt(myMsg[1]);\n        var R = context.global.intBoard2LedColorRed;\n        var G = context.global.intBoard2LedColorGreen;\n        var B = context.global.intBoard2LedColorBlue;\n        \n        var newR = R - (R)*(p)/10;\n        var newG = G - (G)*(p)/10;\n        var newB = B - (B)*(p)/10;\n        \n        newMsg.payload = \"setBoard2RGB \" + parseInt(newR).toString() + \" \" + parseInt(newG).toString() + \" \" + parseInt(newB).toString();\n        return [null, null, null, null, null, newMsg];\n    case 'increaseSocket3LedRed':\n        var p = parseInt(myMsg[1]);\n        var R = context.global.intBoard2LedColorRed;\n        var G = context.global.intBoard2LedColorGreen;\n        var B = context.global.intBoard2LedColorBlue;\n\n        if (R < 245) \n        {\n          R = R + 10;\n        }\n        newMsg.payload = \"setBoard2RGB \" + parseInt(R).toString() + \" \" + parseInt(G).toString() + \" \" + parseInt(B).toString();\n        return [null, null, null, null, null, newMsg];\n    case 'increaseBoard2LedGreen':\n        var p = parseInt(myMsg[1]);\n        var R = context.global.intBoard2LedColorRed;\n        var G = context.global.intBoard2LedColorGreen;\n        var B = context.global.intBoard2LedColorBlue;\n        \n        if (G < 245) \n        {\n          G = G + 10;\n        }\n        newMsg.payload = \"setBoard2RGB \" + parseInt(R).toString() + \" \" + parseInt(G).toString() + \" \" + parseInt(B).toString();\n        return [null, null, null, null, null, newMsg];\n    case 'increaseBoard2LedBlue':\n        var p = parseInt(myMsg[1]);\n        var R = context.global.intBoard2LedColorRed;\n        var G = context.global.intBoard2LedColorGreen;\n        var B = context.global.intBoard2LedColorBlue;\n        \n        if (B < 245) \n        {\n          B = B + 10;\n        }\n        newMsg.payload = \"setBoard2RGB \" + parseInt(R).toString() + \" \" + parseInt(G).toString() + \" \" + parseInt(B).toString();\n        return [null, null, null, null, null, newMsg];\n    case 'decreaseBoard2LedRed':\n        var p = parseInt(myMsg[1]);\n        var R = context.global.intBoard2LedColorRed;\n        var G = context.global.intBoard2LedColorGreen;\n        var B = context.global.intBoard2LedColorBlue;\n        \n        if (R > 10) \n        {\n          R = R - 10;\n        }\n        newMsg.payload = \"setBoard2RGB \" + parseInt(R).toString() + \" \" + parseInt(G).toString() + \" \" + parseInt(B).toString();\n        return [null, null, null, null, null, newMsg];\n    case 'decreaseBoard2LedGreen':\n        var p = parseInt(myMsg[1]);\n        var R = context.global.intBoard2LedColorRed;\n        var G = context.global.intBoard2LedColorGreen;\n        var B = context.global.intBoard2LedColorBlue;\n        \n        if (G > 10) \n        {\n          G = G - 10;\n        }\n        newMsg.payload = \"setBoard2RGB \" + parseInt(R).toString() + \" \" + parseInt(G).toString() + \" \" + parseInt(B).toString();\n        return [null, null, null, null, null, newMsg];\n    case 'decreaseSocket3LedBlue':\n        var p = parseInt(myMsg[1]);\n        var R = context.global.intBoard2LedColorRed;\n        var G = context.global.intBoard2LedColorGreen;\n        var B = context.global.intBoard2LedColorBlue;\n        \n        if (B > 10) \n        {\n          B = B - 10;\n        }\n        newMsg.payload = \"setBoard2RGB \" + parseInt(R).toString() + \" \" + parseInt(G).toString() + \" \" + parseInt(B).toString();\n        return [null, null, null, null, null, newMsg];\n    case 'colorMinus':\n        if(context.global.intColorNumber > 0)\n        {\n            context.global.intColorNumber = context.global.intColorNumber - 1;\n        }\n        else\n        {\n            context.global.intColorNumber = 22;\n        }\n        break;\n    case 'colorPlus':\n        if(context.global.intColorNumber < 22)\n        {\n            context.global.intColorNumber = context.global.intColorNumber + 1;\n        }\n        else\n        {\n            context.global.intColorNumber = 0;\n        }\n        break;\n    case 'toggleAmbilight':\n        newMsg.payload = \"2\";\n        if (context.global.intNps2State == 0)\n        {\n            return [null, null, null, null, null, null, newMsg, null, null];\n        }\n        else if (context.global.intNps2State == 1)\n        {\n            return [null, null, null, null, null, null, null, newMsg, null];\n        } \n        break;\n    case 'resetMediaPlayer':\n        newMsg.payload = \"3\";\n        return [null, null, null, null, null, null, null, null, newMsg];\n    case 'resetPi2':\n        newMsg.payload = \"16\";\n        return [null, null, null, null, null, null, null, null, newMsg];\n    case 'resetWiFiandPi2':\n        newMsg.payload = \"13\";\n        return [null, null, null, null, null, null, null, null, newMsg, newMsg];\n}\nswitch(myMsg[0])\n{\n    case 'colorPlus':\n    case 'colorMinus':\n        switch(context.global.intColorNumber)\n        {\n            case 0:\n                newMsg.payload = \"setBoard2RGB 255 215 0\";\n                break;\n            case 1:\n                newMsg.payload = \"setBoard2RGB 255 212 0\";\n                break;\n            case 2:\n                newMsg.payload = \"setBoard2RGB 255 171 0\";\n                break;\n            case 3:\n                newMsg.payload = \"setBoard2RGB 255 62 0\";\n                break;\n            case 4:\n                newMsg.payload = \"setBoard2RGB 255 0 0\";\n                break;\n            case 5:\n                newMsg.payload = \"setBoard2RGB 255 0 68\";\n                break;\n            case 6:\n                newMsg.payload = \"setBoard2RGB 255 0 122\";\n                break;\n            case 7:\n                newMsg.payload = \"setBoard2RGB 255 0 184\";\n                break;\n            case 8:\n                newMsg.payload = \"setBoard2RGB 205 0 255\";\n                break;\n            case 9:\n                newMsg.payload = \"setBoard2RGB 137 0 255\";\n                break;\n            case 10:\n                newMsg.payload = \"setBoard2RGB 34 0 255\";\n                break;\n            case 11:\n                newMsg.payload = \"setBoard2RGB 0 0 255\";\n                break;\n            case 12:\n                newMsg.payload = \"setBoard2RGB 0 33 255\";\n                break;\n            case 13:\n                newMsg.payload = \"setBoard2RGB 0 109 255\";\n                break;\n            case 14:\n                newMsg.payload = \"setBoard2RGB 0 213 255\";\n                break;\n            case 15:\n                newMsg.payload = \"setBoard2RGB 0 255 176\";\n                break;\n            case 16:\n                newMsg.payload = \"setBoard2RGB 0 255 35\";\n                break;\n            case 17:\n                newMsg.payload = \"setBoard2RGB 0 255 0\";\n                break;\n            case 18:\n                newMsg.payload = \"setBoard2RGB 78 255 0\";\n                break;\n            case 19:\n                newMsg.payload = \"setBoard2RGB 120 255 0\";\n                break;\n            case 20:\n                newMsg.payload = \"setBoard2RGB 170 255 0\";\n                break;\n            case 21:\n                newMsg.payload = \"setBoard2RGB 222 255 0\";\n                break;\n            case 22:\n                newMsg.payload = \"setBoard2RGB 255 232 0\";\n                break;\n        }\n    return [null, null, null, null, null, newMsg];\n}\n        \n","outputs":"10","noerr":0,"x":740.1428718566895,"y":2022.8571395874023,"wires":[["da318e39.25ce7"],["4e2577fd.b1da88"],["ededd6ff.121228"],["b2fc2b9f.4d03d8"],["ed605ff3.129fa"],["1f55e246.e0aa1e","5bd487d.fa42b78"],["f3c6a60.f0c3958"],["12a205d7.ed5dfa"],["d15e28c0.2ea1d8"],["4068328b.5b02dc"]]},{"id":"ed605ff3.129fa","type":"exec","z":"ffc1382c.003ec8","command":"python /home/pi/bmpread.py ","addpay":true,"append":"","useSpawn":"","name":"","x":1002.8571548461914,"y":2122.2383823394775,"wires":[["7abf78f6.854088"],[],[]]},{"id":"7abf78f6.854088","type":"function","z":"ffc1382c.003ec8","name":"","func":"var newMsg = { payload: msg.payload.trim() };\nvar myMsg=newMsg.payload.split(\" \");\n\nvar X = parseInt(myMsg[0].trim());\nvar Y = parseInt(myMsg[1].trim());\nvar R = parseInt(myMsg[2].trim());\nvar G = parseInt(myMsg[3].trim());\nvar B = parseInt(myMsg[4].trim());\n\nnewMsg.topic='';\n\nif ((R == 240) && (G == 240) && (B == 240))\n{\n    if((X > 100) && (X < 120) &&\n       (Y > 100) && (Y < 120))\n    {\n        newMsg.payload = \"setBoard2RGB \" + myMsg[2] + \" \" + myMsg[3] + \" \" + myMsg[4];\n        return newMsg;\n    }\n}\nelse\n{\n    newMsg.payload = \"setBoard2RGB \" + myMsg[2] + \" \" + myMsg[3] + \" \" + myMsg[4];\n    return newMsg;\n}\n","outputs":1,"noerr":0,"x":1082.381103515625,"y":1968.8096389770508,"wires":[["1f55e246.e0aa1e","5bd487d.fa42b78"]]},{"id":"5bd487d.fa42b78","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/board5/StateIRAction","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1406.1904945373535,"y":1988.0474472045898,"wires":[]},{"id":"ec29beff.13d64","type":"function","z":"ffc1382c.003ec8","name":"processSocket1","func":"var newMsg = { payload: msg.payload.trim() };\nvar myMsg=newMsg.payload.split(\" \");\n\nnewMsg.topic='';\n\ncontext.global.intSocket1LightStat       = context.global.intSocket1LightState     || 0;\ncontext.global.intSocket1FanState        = context.global.intSocket1FanState       || 0;\ncontext.global.intSocket1FanSpeed        = context.global.intSocket1FanSpeed       || 0;\ncontext.global.intSocket1LedState        = context.global.intSocket1LedState       || 0;\ncontext.global.intSocket1LedMode         = context.global.intSocket1LedMode        || 0;\ncontext.global.strSocket1AlarmState      = context.global.strSocket1AlarmState     || \"\";\ncontext.global.intSocket1LedSpeed        = context.global.intSocket1LedSpeed       || 0;\ncontext.global.intSocket1LedColorRed     = context.global.intSocket1LedColorRed    || 0;\ncontext.global.intSocket1LedColorGreen   = context.global.intSocket1LedColorGreen  || 0;\ncontext.global.intSocket1LedColorBlue    = context.global.intSocket1LedColorBlue   || 0;\n\n\nswitch(myMsg[0]) {\n    case 'socket1LightOff':\n        newMsg.payload=\"0\";\n        return [newMsg, null, null, null, null, null, null, msg];\n    case 'socket1LightOn':\n        newMsg.payload=\"1\";\n        return [newMsg, null, null, null, null, null, null, msg];\n    case 'readSocket1LightState':\n        msg.payload=context.global.intSocket1LightState.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg];\n    case 'socket1FanOff':\n        newMsg.payload=\"0\";\n        return [null, newMsg, null, null, null, null, null, msg];\n    case 'socket1FanOn':\n        newMsg.payload=\"1\";\n        return [null, newMsg, null, null, null, null, null, msg];\n    case 'readSocket1FanState':\n        msg.payload=context.global.intSocket1FanState.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg];\n    case 'setSocket1FanSpeed':  \n        newMsg.payload = myMsg[1].trim();\n        context.global.intSocket1FanSpeed = parseInt(myMsg[1].trim());\n        return [null, null, newMsg, null, null, null, null, msg];\n    case 'readSocket1FanSpeed':\n        msg.payload=context.global.intSocket1FanSpeed.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg];\n    case 'socket1LedOff':\n        newMsg.payload=\"0\";\n        return [null, null, null, newMsg, null, null, null, msg];\n    case 'socket1LedOn':\n        newMsg.payload=\"1\";\n        return [null, null, null, newMsg, null, null, null, msg];\n    case 'readSocket1LedState':\n        msg.payload=context.global.intSocket1LedState.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg];\n    case 'changeSocket1LedMode':\n        context.global.intSocket1LedMode = parseInt(myMsg[1].trim());\n        newMsg.payload = context.global.intSocket1LedMode.toString()+\"\\n\";\n        \n        // To send to MQTT\n        newMsg.payload=context.global.intSocket1LedMode.toString()+\"\\n\";\n\n        return [null, null, null, null, newMsg, null, null, msg];\n    case 'decreaseSocket1LedMode':\n        context.global.intSocket1LedMode = context.global.intSocket1LedMode - 1;\n        if (context.global.intSocket1LedMode < 0)\n        {\n            context.global.intSocket1LedMode = 19;\n        }\n\n        newMsg.payload=context.global.intSocket1LedMode.toString()+\"\\n\";\n        return [null, null, null, null, newMsg, null, null, msg];\n    case 'increaseSocket1LedMode':\n        context.global.intSocket1LedMode = context.global.intSocket1LedMode + 1;\n        if (context.global.intSocket1LedMode > 19)\n        {\n            context.global.intSocket1LedMode = 0;\n        }\n        \n        newMsg.payload=context.global.intSocket1LedMode.toString()+\"\\n\";\n        return [null, null, null, null, newMsg, null, null, msg];\n    case 'readSocket1IntLedMode':\n        msg.payload=context.global.intSocket1LedMode.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg];\n    case 'readSocket1LedMode':\n        // To send as a reply to NetIO\n        if(context.global.intSocket1LedMode === 0)\n        {\n            msg.payload=\"Default\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 1)\n        {\n            msg.payload=\"Negative\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 2)\n        {\n            msg.payload=\"Fade\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 3)\n        {\n            msg.payload=\"Rainbow\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 4)\n        {\n            msg.payload=\"Cycle\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 5)\n        {\n            msg.payload=\"Cycle2\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 6)\n        {\n            msg.payload=\"Cycle3\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 7)\n        {\n            msg.payload=\"Cycle4\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 8)\n        {\n            msg.payload=\"Random\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 9)\n        {\n            msg.payload=\"Random2\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 10)\n        {\n            msg.payload=\"RandomCycle\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 11)\n        {\n            msg.payload=\"RandomCycle2\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 12)\n        {\n            msg.payload=\"Strobe\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 13)\n        {\n            msg.payload=\"StrobeRandom\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 14)\n        {\n            msg.payload=\"StrobeStep\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 15)\n        {\n            msg.payload=\"StrobeStep2\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 16)\n        {\n            msg.payload=\"StrobeStepRandom\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 17)\n        {\n            msg.payload=\"StrobeStepRandom2\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 18)\n        {\n            msg.payload=\"LarsonScanner\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 19)\n        {\n            msg.payload=\"LarsonScanner2\\n\";\n        }\n        return [null, null, null, null, null, null, null, msg];\n    case 'setSocket1LedSpeed':\n        context.global.intSocket1LedSpeed = parseInt(myMsg[1].trim());\n    \n        // Since there are issues with higher speeds, limit to 7 only for\n        // the timebeing till the issues are sorted out\n        if (context.global.intSocket1LedSpeed > 7)\n        {\n            context.global.intSocket1LedSpeed = 7;\n        }\n        newMsg.payload = context.global.intSocket1LedSpeed.toString()+\"\\n\";\n        return [null, null, null, null, null, newMsg, null, msg];\n    case 'readSocket1LedSpeed':\n        msg.payload=context.global.intSocket1LedSpeed.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg];\n    case 'setSocket1RGB':\n        return [null, null, null, null, null, null, newMsg, msg];\n    case 'readSocket1LedColor':\n        msg.payload=context.global.intSocket1LedColorRed + \"/\" + context.global.intSocket1LedColorGreen + \"/\" + context.global.intSocket1LedColorBlue + \"\\n\";\n        return [null, null, null, null, null, null, null, msg];\n    case 'readSocket1AlarmState':\n        msg.payload=context.global.strSocket1AlarmState.trim()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg];\n}\n","outputs":"8","noerr":0,"x":723.3333435058594,"y":328.6666717529297,"wires":[["d6dd4d50.2922b"],["1decbde.fe21342"],["814fd6e5.7eb028"],["bc81a9aa.437e58"],["6edf5b82.9120a4"],["d96f92bf.26907"],["45f1a9ba.ba0e58"],["84488176.7bb78"]]},{"id":"c77b031c.3885","type":"function","z":"ffc1382c.003ec8","name":"processBoard6","func":"var newMsg = { payload: msg.payload.trim() };\nvar myMsg=newMsg.payload.split(\" \");\n\nnewMsg.topic='';\n\ncontext.global.intBoard6LightState = context.global.intBoard6LightState || 0;\ncontext.global.intBoard6SocketState = context.global.intBoard6SocketState || 0;\n\nswitch(myMsg[0]) {\n    case 'board6LightOff':\n        newMsg.payload=\"0\";\n        context.global.intBoard6LightState = 0;\n        return [msg, newMsg, null];\n    case 'board6LightOn':\n        newMsg.payload=\"1\";\n        context.global.intBoard6LightState = 1;\n        return [msg, newMsg, null];\n    case 'readBoard6LightState':\n        msg.payload=context.global.intBoard6LightState.toString()+\"\\n\";\n        return [msg, null, null];\n    case 'board6SocketOff':\n        newMsg.payload=\"0\";\n        context.global.intBoard6SocketState = 0;\n        return [msg, null, newMsg];\n    case 'board6SocketOn':\n        newMsg.payload=\"1\";\n        context.global.intBoard6SocketState = 1;\n        return [msg, null, newMsg];\n    case 'readBoard6SocketState':\n        msg.payload=context.global.intBoard6SocketState.toString()+\"\\n\";\n        return [msg, null, null];\n}\n\n","outputs":"3","noerr":0,"x":780.8571701049805,"y":2367.095205307007,"wires":[["84488176.7bb78"],["503cafe0.afc35"],["15eefae.2d33c05"]]},{"id":"99d2723a.662d9","type":"function","z":"ffc1382c.003ec8","name":"processBoard2","func":"var newMsg = { payload: msg.payload.trim() };\nvar myMsg=newMsg.payload.split(\" \");\n\nnewMsg.topic='';\n\ncontext.global.intBoard2LightState      = context.global.intBoard2LightState     || 0;\ncontext.global.intBoard2LedState        = context.global.intBoard2LedState       || 0;\ncontext.global.intBoard2LedMode         = context.global.intBoard2LedMode        || 0;\ncontext.global.intBoard2LedSpeed        = context.global.intBoard2LedSpeed       || 0;\ncontext.global.intBoard2LedColorRed     = context.global.intBoard2LedColorRed    || 0;\ncontext.global.intBoard2LedColorGreen   = context.global.intBoard2LedColorGreen  || 0;\ncontext.global.intBoard2LedColorBlue    = context.global.intBoard2LedColorBlue   || 0;\n\nswitch(myMsg[0]) {\n    case 'board2LightOff':\n        newMsg.payload=\"0\";\n        context.global.intBoard2LightState = 0;\n        return [newMsg, null, null, null, null, msg];\n    case 'board2LightOn':\n        newMsg.payload=\"1\";\n        context.global.intBoard2LightState = 1;\n        return [newMsg, null, null, null, null, msg];\n    case 'readBoard2LightState':\n        msg.payload=context.global.intBoard2LightState.toString()+\"\\n\";\n        return [null, null, null, null, null, msg];\n    case 'board2LedOff':\n        newMsg.payload=\"0\";\n        context.global.intBoard2LightState = 0;\n        return [null, newMsg, null, null, null, msg];\n    case 'board2LedOn':\n        newMsg.payload=\"1\";\n        context.global.intBoard2LightState = 1;\n        return [null, newMsg, null, null, null, msg];\n    case 'readBoard2LedState':\n        msg.payload=context.global.intBoard2LedState.toString()+\"\\n\";\n        return [null, null, null, null, null, msg];\n    case 'changeBoard2LedMode':\n        context.global.intBoard2LedMode = parseInt(myMsg[1].trim());\n        newMsg.payload = context.global.intBoard2LedMode.toString()+\"\\n\";\n        \n        // To send to MQTT\n        newMsg.payload=context.global.intBoard2LedMode.toString()+\"\\n\";\n\n        return [null, null, newMsg, null, null, msg];\n    case 'decreaseBoard2LedMode':\n        context.global.intBoard2LedMode = context.global.intBoard2LedMode - 1;\n        if (context.global.intBoard2LedMode < 0)\n        {\n            context.global.intBoard2LedMode = 19;\n        }\n\n        newMsg.payload=context.global.intBoard2LedMode.toString()+\"\\n\";\n        return [null, null, newMsg, null, null, msg];\n    case 'increaseBoard2LedMode':\n        context.global.intBoard2LedMode = context.global.intBoard2LedMode + 1;\n        if (context.global.intBoard2LedMode > 19)\n        {\n            context.global.intBoard2LedMode = 0;\n        }\n        \n        newMsg.payload=context.global.intBoard2LedMode.toString()+\"\\n\";\n        return [null, null, newMsg, null, null, msg];\n    case 'readBoard2IntLedMode':\n        msg.payload=context.global.intBoard2LedMode.toString()+\"\\n\";\n        return [null, null, null, null, null, msg];\n    case 'readBoard2LedMode':\n        // To send as a reply to NetIO\n        if(context.global.intBoard2LedMode === 0)\n        {\n            msg.payload=\"Default\\n\";\n        }\n        else if(context.global.intBoard2LedMode == 1)\n        {\n            msg.payload=\"Negative\\n\";\n        }\n        else if(context.global.intBoard2LedMode == 2)\n        {\n            msg.payload=\"Fade\\n\";\n        }\n        else if(context.global.intBoard2LedMode == 3)\n        {\n            msg.payload=\"Rainbow\\n\";\n        }\n        else if(context.global.intBoard2LedMode == 4)\n        {\n            msg.payload=\"Cycle\\n\";\n        }\n        else if(context.global.intBoard2LedMode == 5)\n        {\n            msg.payload=\"Cycle2\\n\";\n        }\n        else if(context.global.intBoard2LedMode == 6)\n        {\n            msg.payload=\"Cycle3\\n\";\n        }\n        else if(context.global.intBoard2LedMode == 7)\n        {\n            msg.payload=\"Cycle4\\n\";\n        }\n        else if(context.global.intBoard2LedMode == 8)\n        {\n            msg.payload=\"Random\\n\";\n        }\n        else if(context.global.intBoard2LedMode == 9)\n        {\n            msg.payload=\"Random2\\n\";\n        }\n        else if(context.global.intBoard2LedMode == 10)\n        {\n            msg.payload=\"RandomCycle\\n\";\n        }\n        else if(context.global.intBoard2LedMode == 11)\n        {\n            msg.payload=\"RandomCycle2\\n\";\n        }\n        else if(context.global.intBoard2LedMode == 12)\n        {\n            msg.payload=\"Strobe\\n\";\n        }\n        else if(context.global.intBoard2LedMode == 13)\n        {\n            msg.payload=\"StrobeRandom\\n\";\n        }\n        else if(context.global.intBoard2LedMode == 14)\n        {\n            msg.payload=\"StrobeStep\\n\";\n        }\n        else if(context.global.intBoard2LedMode == 15)\n        {\n            msg.payload=\"StrobeStep2\\n\";\n        }\n        else if(context.global.intBoard2LedMode == 16)\n        {\n            msg.payload=\"StrobeStepRandom\\n\";\n        }\n        else if(context.global.intBoard2LedMode == 17)\n        {\n            msg.payload=\"StrobeStepRandom2\\n\";\n        }\n        else if(context.global.intBoard2LedMode == 18)\n        {\n            msg.payload=\"LarsonScanner\\n\";\n        }\n        else if(context.global.intBoard2LedMode == 19)\n        {\n            msg.payload=\"LarsonScanner2\\n\";\n        }\n        return [null, null, null, null, null, msg];\n    case 'setBoard2LedSpeed':\n        context.global.intBoard2LedSpeed = parseInt(myMsg[1].trim());\n    \n        // Since there are issues with higher speeds, limit to 7 only for\n        // the timebeing till the issues are sorted out\n        if (context.global.intBoard2LedSpeed > 7)\n        {\n            context.global.intBoard2LedSpeed = 7;\n        }\n        newMsg.payload = context.global.intBoard2LedSpeed.toString()+\"\\n\";\n        return [null, null, null, newMsg, null, msg];\n    case 'readBoard2LedSpeed':\n        msg.payload=context.global.intBoard2LedSpeed.toString()+\"\\n\";\n        return [null, null, null, null, null, msg];\n    case 'setBoard2RGB':\n        return [null, null, null, null, newMsg, msg];\n    case 'readBoard2LedColor':\n        msg.payload=context.global.intBoard2LedColorRed + \"/\" + context.global.intBoard2LedColorGreen + \"/\" + context.global.intBoard2LedColorBlue + \"\\n\";\n        return [null, null, null, null, null, msg];\n}","outputs":"6","noerr":0,"x":734.5714111328125,"y":1013.142822265625,"wires":[["da318e39.25ce7"],["4e2577fd.b1da88"],["ededd6ff.121228"],["b2fc2b9f.4d03d8"],["1f55e246.e0aa1e"],["84488176.7bb78"]]},{"id":"9b7481be.648b8","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/StateLedMode","broker":"c2a771eb.3d589","x":130,"y":336,"wires":[["1e2dc9b2.e1d236"]]},{"id":"c8749815.378b68","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/ChangedLedMode","broker":"c2a771eb.3d589","x":143.5,"y":368,"wires":[["1e2dc9b2.e1d236"]]},{"id":"849ca015.7b636","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/StateLedSpeed","broker":"c2a771eb.3d589","x":134,"y":396,"wires":[["1e2dc9b2.e1d236"]]},{"id":"d1604790.2e9fb8","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/ChangedLedSpeed","broker":"c2a771eb.3d589","x":146,"y":424,"wires":[["1e2dc9b2.e1d236"]]},{"id":"ea2058a5.15dfa8","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/StateLedColorRed","broker":"c2a771eb.3d589","x":145,"y":456,"wires":[["1e2dc9b2.e1d236"]]},{"id":"30234093.cfdcc","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/ChangedLedColorRed","broker":"c2a771eb.3d589","x":157.5,"y":488,"wires":[["1e2dc9b2.e1d236"]]},{"id":"b56eb8cc.4a9148","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/StateLedColorGreen","broker":"c2a771eb.3d589","x":152,"y":520,"wires":[["1e2dc9b2.e1d236"]]},{"id":"99b951b7.6646b","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/ChangedLedColorGreen","broker":"c2a771eb.3d589","x":164.5,"y":552,"wires":[["1e2dc9b2.e1d236"]]},{"id":"dafef3c2.25011","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/StateLedColorBlue","broker":"c2a771eb.3d589","x":146,"y":584,"wires":[["1e2dc9b2.e1d236"]]},{"id":"71d7f2b9.8e280c","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/ChangedLedColorBlue","broker":"c2a771eb.3d589","x":158.5,"y":616,"wires":[["1e2dc9b2.e1d236"]]},{"id":"d96f92bf.26907","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/socket1/LedSpeedCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1378,"y":388,"wires":[]},{"id":"24d228a3.db2dd8","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/ArduinoStarting","broker":"c2a771eb.3d589","x":117.64285278320312,"y":21.111124992370605,"wires":[[]]},{"id":"357dc278.ca823e","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/socket1/ESP8266Starting","broker":"c2a771eb.3d589","x":131.0714340209961,"y":50.00000190734863,"wires":[[]]},{"id":"a2e28ac0.f7a028","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board6/StateAll","broker":"c2a771eb.3d589","x":132.25,"y":2357.9882011413574,"wires":[["5426a6ad.abd958"]]},{"id":"65e3f912.b73408","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board6/ChangedSocket","broker":"c2a771eb.3d589","x":158.58731842041016,"y":2418.412760734558,"wires":[["5426a6ad.abd958"]]},{"id":"2603af2a.b1bd1","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board6/ChangedLight","broker":"c2a771eb.3d589","x":152.72621536254883,"y":2388.7383432388306,"wires":[["5426a6ad.abd958"]]},{"id":"f8a42fd7.87c12","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board6/ArduinoStarting","broker":"c2a771eb.3d589","x":159.21428680419922,"y":2258.8095703125,"wires":[[]]},{"id":"15eefae.2d33c05","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/board6/SocketCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1424.3094940185547,"y":2371.567512512207,"wires":[]},{"id":"b6e93fc9.79e11","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board6/ESP8266Starting","broker":"c2a771eb.3d589","x":164.17858123779297,"y":2290.1309547424316,"wires":[[]]},{"id":"e192d0f8.76036","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board7/ESP8266Starting","broker":"c2a771eb.3d589","x":167.67858123779297,"y":2514.2381286621094,"wires":[[]]},{"id":"e44c941f.513538","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board7/SendOptions","broker":"c2a771eb.3d589","x":157.02381134033203,"y":2549.4882678985596,"wires":[["8c7c4280.e1329"]]},{"id":"8c7c4280.e1329","type":"function","z":"ffc1382c.003ec8","name":"collate","func":"var newMsg = { payload: ''};\nnewMsg.topic = '';\n\ncontext.global.intBoard7ShowBigClock          = context.global.intBoard7ShowBigClock          || 0;\ncontext.global.intBoard7HideDisplay           = context.global.intBoard7HideDisplay           || 0;\ncontext.global.intBoard7EnableAutoHideDisplay = context.global.intBoard7EnableAutoHideDisplay || 0;\n\nswitch(msg.topic) {\n    case \"/board7/SendOptions\":\n        var myMsg = msg.payload.split(\",\");\n        context.global.intBoard7ShowBigClock          = parseInt(myMsg[0]);\n        context.global.intBoard7HideDisplay           = parseInt(myMsg[1]);\n        context.global.intBoard7EnableAutoHideDisplay = parseInt(myMsg[2]);\n    break;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":483.39286041259766,"y":2538.8809547424316,"wires":[[]]},{"id":"3278a1df.47570e","type":"function","z":"ffc1382c.003ec8","name":"processBoard7","func":"var newMsg = { payload: msg.payload.trim() };\nvar myMsg=newMsg.payload.split(\" \");\n\nnewMsg.topic='';\n\ncontext.global.intBoard7ShowBigClock          = context.global.intBoard7ShowBigClock          || 0;\ncontext.global.intBoard7HideDisplay           = context.global.intBoard7HideDisplay           || 0;\ncontext.global.intBoard7EnableAutoHideDisplay = context.global.intBoard7EnableAutoHideDisplay || 0;\n\nswitch(myMsg[0]) {\n    case 'board7ShowBigClockOff':\n        context.global.intBoard7ShowBigClock = 0;\n        newMsg.payload=context.global.intBoard7ShowBigClock.toString()+\",\"+context.global.intBoard7HideDisplay.toString()+\",\"+context.global.intBoard7EnableAutoHideDisplay.toString();\n        return [msg, newMsg];\n    case 'board7ShowBigClockOn':\n        context.global.intBoard7ShowBigClock = 1;\n        newMsg.payload=context.global.intBoard7ShowBigClock.toString()+\",\"+context.global.intBoard7HideDisplay.toString()+\",\"+context.global.intBoard7EnableAutoHideDisplay.toString();\n        return [msg, newMsg];\n    case 'readBoard7ShowBigClock':\n        msg.payload=context.global.intBoard7ShowBigClock.toString()+\"\\n\";\n        return [msg, null];\n    case 'board7HideDisplayOff':\n        context.global.intBoard7HideDisplay = 0;\n        newMsg.payload=context.global.intBoard7ShowBigClock.toString()+\",\"+context.global.intBoard7HideDisplay.toString()+\",\"+context.global.intBoard7EnableAutoHideDisplay.toString();\n        return [msg, newMsg];\n    case 'board7HideDisplayOn':\n        context.global.intBoard7HideDisplay = 1;\n        newMsg.payload=context.global.intBoard7ShowBigClock.toString()+\",\"+context.global.intBoard7HideDisplay.toString()+\",\"+context.global.intBoard7EnableAutoHideDisplay.toString();\n        return [msg, newMsg];\n    case 'readBoard7HideDisplay':\n        msg.payload=context.global.intBoard7HideDisplay.toString()+\"\\n\";\n        return [msg, null];\n    case 'board7EnableAutoHideDisplayOff':\n        context.global.intBoard7EnableAutoHideDisplay = 0;\n        newMsg.payload=context.global.intBoard7ShowBigClock.toString()+\",\"+context.global.intBoard7HideDisplay.toString()+\",\"+context.global.intBoard7EnableAutoHideDisplay.toString();\n        return [msg, newMsg];\n    case 'board7EnableAutoHideDisplayOn':\n        context.global.intBoard7EnableAutoHideDisplay = 1;\n        newMsg.payload=context.global.intBoard7ShowBigClock.toString()+\",\"+context.global.intBoard7HideDisplay.toString()+\",\"+context.global.intBoard7EnableAutoHideDisplay.toString();\n        return [msg, newMsg];\n    case 'readBoard7EnableAutoHideDisplay':\n        msg.payload=context.global.intBoard7EnableAutoHideDisplay.toString()+\"\\n\";\n        return [msg, null];\n}\n","outputs":"2","noerr":0,"x":792.5237655639648,"y":2547.964273452759,"wires":[["84488176.7bb78"],["ef77200b.35eec"]]},{"id":"ef77200b.35eec","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/board7/GetOptions","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1404.618839263916,"y":2527.2856006622314,"wires":[]},{"id":"1b72cbe8.7d0664","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board5/StateAll","broker":"c2a771eb.3d589","x":120.57141876220703,"y":1735.714256286621,"wires":[["475fe7b.fb8a018"]]},{"id":"20779c55.1292b4","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/board5/GetOptions","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1396.2857265472412,"y":1927.714301109314,"wires":[]},{"id":"eedb4b1c.a6c1f8","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/LivingRoomMotion","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1434.285743713379,"y":2762.4762630462646,"wires":[]},{"id":"ea648ba2.b38548","type":"delay","z":"ffc1382c.003ec8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1194.7619705200195,"y":2765.8094339370728,"wires":[["eedb4b1c.a6c1f8"]]},{"id":"a657e6ed.bb0678","type":"function","z":"ffc1382c.003ec8","name":"processBoard4","func":"var newMsg = { payload: msg.payload.trim() };\nvar myMsg=newMsg.payload.split(\" \");\n\nnewMsg.topic='';\n\ncontext.global.intBoard4ShowBigClock          = context.global.intBoard4ShowBigClock          || 0;\ncontext.global.intBoard4HideDisplay           = context.global.intBoard4HideDisplay           || 0;\ncontext.global.intBoard4EnableAutoHideDisplay = context.global.intBoard4EnableAutoHideDisplay || 0;\n\nswitch(myMsg[0]) {\n    case 'board4ShowBigClockOff':\n        context.global.intBoard4ShowBigClock = 0;\n        newMsg.payload=context.global.intBoard4ShowBigClock.toString()+\",\"+context.global.intBoard4HideDisplay.toString()+\",\"+context.global.intBoard4EnableAutoHideDisplay.toString();\n        return [msg, newMsg];\n    case 'board4ShowBigClockOn':\n        context.global.intBoard4ShowBigClock = 1;\n        newMsg.payload=context.global.intBoard4ShowBigClock.toString()+\",\"+context.global.intBoard4HideDisplay.toString()+\",\"+context.global.intBoard4EnableAutoHideDisplay.toString();\n        return [msg, newMsg];\n    case 'readBoard4ShowBigClock':\n        msg.payload=context.global.intBoard4ShowBigClock.toString()+\"\\n\";\n        return [msg, null];\n    case 'board4HideDisplayOff':\n        context.global.intBoard4HideDisplay = 0;\n        newMsg.payload=context.global.intBoard4ShowBigClock.toString()+\",\"+context.global.intBoard4HideDisplay.toString()+\",\"+context.global.intBoard4EnableAutoHideDisplay.toString();\n        return [msg, newMsg];\n    case 'board4HideDisplayOn':\n        context.global.intBoard4HideDisplay = 1;\n        newMsg.payload=context.global.intBoard4ShowBigClock.toString()+\",\"+context.global.intBoard4HideDisplay.toString()+\",\"+context.global.intBoard4EnableAutoHideDisplay.toString();\n        return [msg, newMsg];\n    case 'readBoard4HideDisplay':\n        msg.payload=context.global.intBoard4HideDisplay.toString()+\"\\n\";\n        return [msg, null];\n    case 'board4EnableAutoHideDisplayOff':\n        context.global.intBoard4EnableAutoHideDisplay = 0;\n        newMsg.payload=context.global.intBoard4ShowBigClock.toString()+\",\"+context.global.intBoard4HideDisplay.toString()+\",\"+context.global.intBoard4EnableAutoHideDisplay.toString();\n        return [msg, newMsg];\n    case 'board4EnableAutoHideDisplayOn':\n        context.global.intBoard4EnableAutoHideDisplay = 1;\n        newMsg.payload=context.global.intBoard4ShowBigClock.toString()+\",\"+context.global.intBoard4HideDisplay.toString()+\",\"+context.global.intBoard4EnableAutoHideDisplay.toString();\n        return [msg, newMsg];\n    case 'readBoard4EnableAutoHideDisplay':\n        msg.payload=context.global.intBoard4EnableAutoHideDisplay.toString()+\"\\n\";\n        return [msg, null];\n}\n","outputs":"2","noerr":0,"x":754,"y":1520,"wires":[["84488176.7bb78"],["92e9f1e2.25f3c"]]},{"id":"92e9f1e2.25f3c","type":"mqtt out","z":"ffc1382c.003ec8","name":"","topic":"/board4/GetOptions","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1384,"y":1510,"wires":[]},{"id":"c25af29a.f104c","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board4/ArduinoStarting","broker":"c2a771eb.3d589","x":158,"y":1456,"wires":[[]]},{"id":"92f995be.35a718","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board4/ESP8266Starting","broker":"c2a771eb.3d589","x":163.5357208251953,"y":1489.607177734375,"wires":[[]]},{"id":"2101d3ed.86a41c","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board4/SendOptions","broker":"c2a771eb.3d589","x":154.95238494873047,"y":1542.107177734375,"wires":[["6b336e72.29efc"]]},{"id":"6b336e72.29efc","type":"function","z":"ffc1382c.003ec8","name":"collate","func":"var newMsg = { payload: ''};\nnewMsg.topic = '';\n\ncontext.global.intBoard4ShowBigClock          = context.global.intBoard4ShowBigClock          || 0;\ncontext.global.intBoard4HideDisplay           = context.global.intBoard4HideDisplay           || 0;\ncontext.global.intBoard4EnableAutoHideDisplay = context.global.intBoard4EnableAutoHideDisplay || 0;\n\nswitch(msg.topic) {\n    case \"/board4/SendOptions\":\n        var myMsg = msg.payload.split(\",\");\n        context.global.intBoard4ShowBigClock          = parseInt(myMsg[0]);\n        context.global.intBoard4HideDisplay           = parseInt(myMsg[1]);\n        context.global.intBoard4EnableAutoHideDisplay = parseInt(myMsg[2]);\n    break;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":448.00000762939453,"y":1530.6666450500488,"wires":[[]]},{"id":"8de54b1d.a6e0f8","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board5/ArduinoStarting","broker":"c2a771eb.3d589","x":143.75,"y":1651.25,"wires":[[]]},{"id":"b67aaed.98c555","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board5/ESP8266Starting","broker":"c2a771eb.3d589","x":149.2857208251953,"y":1684.857177734375,"wires":[[]]},{"id":"867f8057.5b873","type":"exec","z":"ffc1382c.003ec8","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","name":"reboot","x":1191.6666450500488,"y":2243.333339691162,"wires":[[],[],[]]},{"id":"4068328b.5b02dc","type":"delay","z":"ffc1382c.003ec8","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":998.3333333333331,"y":2191.6666666666665,"wires":[["867f8057.5b873"]]},{"id":"90235975.125c28","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board2/ESP8266Starting","broker":"c2a771eb.3d589","x":148.3333282470703,"y":888.3333129882812,"wires":[[]]},{"id":"63df0abc.e24bb4","type":"mqtt in","z":"ffc1382c.003ec8","name":"","topic":"/board2/ArduinoStarting","broker":"c2a771eb.3d589","x":142.797607421875,"y":854.7261352539062,"wires":[[]]}]