node-red-flows/flows_pi2.json
[{"type":"tab","id":"ffc1382c.003ec8","label":"Sheet 1"},{"id":"9d48b580.62b748","type":"mqtt-broker","broker":"176.124.106.85","port":"1883","clientid":""},{"id":"9cc868f0.633798","type":"twitter-credentials","screen_name":"@gopi_marappan"},{"id":"c2a771eb.3d589","type":"mqtt-broker","broker":"192.168.0.153","port":"1883","clientid":""},{"id":"f6ef52d3.0910b","type":"mqtt-broker","broker":"mqtt.dioty.co","port":"1883","clientid":""},{"id":"d73a2d50.28c5d","type":"mqtt in","name":"","topic":"/socket1/Temperature","broker":"c2a771eb.3d589","x":149.19049835205078,"y":820.7143278121948,"z":"ffc1382c.003ec8","wires":[["7a7a9018.85857","28434e6f.d7bcb2"]]},{"id":"80268b0f.7fd978","type":"mqtt in","name":"","topic":"/socket1/Humidity","broker":"c2a771eb.3d589","x":135.5714454650879,"y":896.0952959060669,"z":"ffc1382c.003ec8","wires":[["7a7a9018.85857","d9d9bded.26264"]]},{"id":"9f99df89.60662","type":"mqtt in","name":"","topic":"/socket1/LightState","broker":"c2a771eb.3d589","x":139.42860412597656,"y":607.1428422927856,"z":"ffc1382c.003ec8","wires":[["1e2dc9b2.e1d236","5118570b.aee7a8"]]},{"id":"8cff0da2.7300f","type":"mqtt in","name":"","topic":"/socket1/FanState","broker":"c2a771eb.3d589","x":137.0000228881836,"y":456.7142686843872,"z":"ffc1382c.003ec8","wires":[["7dbdd321.82422c","944230b9.6bbdd"]]},{"id":"7b7a358b.8485cc","type":"mqtt in","name":"","topic":"/socket1/LedState","broker":"c2a771eb.3d589","x":134.85719299316406,"y":676.749945640564,"z":"ffc1382c.003ec8","wires":[["1e2dc9b2.e1d236"]]},{"id":"91362db4.6ec9d","type":"mqtt in","name":"","topic":"/socket1/AlarmState","broker":"c2a771eb.3d589","x":144.6428985595703,"y":742.5714435577393,"z":"ffc1382c.003ec8","wires":[["1e2dc9b2.e1d236"]]},{"id":"4b2c1d08.b4d3e4","type":"debug","name":"","active":true,"console":"true","complete":"true","x":1925.8093490600586,"y":421.04767894744873,"z":"ffc1382c.003ec8","wires":[]},{"id":"7cdb8210.83247c","type":"twitter out","twitter":"9cc868f0.633798","name":"Tweet","x":1403.845230102539,"y":842.6427936553955,"z":"ffc1382c.003ec8","wires":[]},{"id":"304953ce.cfb6ac","type":"tcp in","server":"server","host":"","port":"5001","datamode":"stream","datatype":"utf8","newline":"","topic":"","name":"","base64":false,"x":116.21429634094238,"y":35.19046115875244,"z":"ffc1382c.003ec8","wires":[["c4b3be9b.3b4c4"]]},{"id":"84488176.7bb78","type":"tcp out","host":"","port":"5001","beserver":"reply","base64":false,"end":false,"name":"","x":1269.619140625,"y":381.90478515625,"z":"ffc1382c.003ec8","wires":[]},{"id":"c4b3be9b.3b4c4","type":"function","name":"NetIOCommand","func":"var newMsg = { payload: msg.payload.trim() };\nvar myMsg=newMsg.payload.split(\" \");\n\nnewMsg.topic='';\n\ncontext.global.intSocket1LightState = context.global.intSocket1LightState || 0;\ncontext.global.intSocket1FanState   = context.global.intSocket1FanState   || 0;\ncontext.global.intSocket1FanSpeed   = context.global.intSocket1FanSpeed   || 0;\ncontext.global.intSocket1LedState   = context.global.intSocket1LedState   || 0;\ncontext.global.intSocket1LedMode    = context.global.intSocket1LedMode    || 0;\ncontext.global.strSocket1AlarmState = context.global.strSocket1AlarmState || \"\";\n\ncontext.global.intSocket2LightState = context.global.intSocket2LightState || 0;\n\ncontext.global.intSocket3LightState = context.global.intSocket3LightState || 0;\ncontext.global.intSocket3LedState   = context.global.intSocket3LedState   || 0;\ncontext.global.intSocket3LedMode    = context.global.intSocket3LedMode    || 0;\ncontext.global.intSocket3LedSpeed   = context.global.intSocket3LedSpeed   || 0;\n\ncontext.global.intNps1State         = context.global.intNps1State         || 0;\ncontext.global.intNps2State         = context.global.intNps2State         || 0;\ncontext.global.intNps3State         = context.global.intNps3State         || 0;\ncontext.global.intNps4State         = context.global.intNps4State         || 0;\ncontext.global.intNps5State         = context.global.intNps5State         || 0;\ncontext.global.intNps6State         = context.global.intNps6State         || 0;\ncontext.global.intNps7State         = context.global.intNps7State         || 0;\ncontext.global.intNps8State         = context.global.intNps8State         || 0;\ncontext.global.intNps9State         = context.global.intNps9State         || 0;\ncontext.global.intNps10State        = context.global.intNps10State        || 0;\ncontext.global.intNps11State        = context.global.intNps11State        || 0;\ncontext.global.intNps12State        = context.global.intNps12State        || 0;\ncontext.global.intNps13State        = context.global.intNps13State        || 0;\ncontext.global.intNps14State        = context.global.intNps14State        || 0;\ncontext.global.intNps15State        = context.global.intNps15State        || 0;\ncontext.global.intNps16State        = context.global.intNps16State        || 0;\ncontext.global.intNps17State        = context.global.intNps17State        || 0;\ncontext.global.intNps18State        = context.global.intNps18State        || 0;\ncontext.global.intNps19State        = context.global.intNps19State        || 0;\ncontext.global.intNps20State        = context.global.intNps20State        || 0;\n\nswitch(newMsg.payload) {\n    case 'socket1LightOff':\n        newMsg.payload=\"0\";\n        return [newMsg, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'socket1LightOn':\n        newMsg.payload=\"1\";\n        return [newMsg, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'socket1FanOff':\n        newMsg.payload=\"0\";\n        return [null, newMsg, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'socket1FanOn':\n        newMsg.payload=\"1\";\n        return [null, newMsg, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'socket1LedOff':\n        newMsg.payload=\"0\";\n        return [null, null, null, newMsg, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'socket1LedOn':\n        newMsg.payload=\"1\";\n        return [null, null, null, newMsg, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'readSocket1LightState':\n        msg.payload=context.global.intSocket1LightState.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'readSocket1FanState':\n        msg.payload=context.global.intSocket1FanState.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'readSocket1FanSpeed':\n        msg.payload=context.global.intSocket1FanSpeed.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'readSocket1LedState':\n        msg.payload=context.global.intSocket1LedState.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'readSocket1LedMode':\n        context.global.intSocket1LedMode = context.global.intSocket1LedMode + 1;\n        if (context.global.intSocket1LedMode > 9)\n        {\n            context.global.intSocket1LedMode = 0;\n        }\n        \n        // To send to MQTT\n        newMsg.payload=context.global.intSocket1LedMode.toString()+\"\\n\"\n\n        // To send as a reply to NetIO\n        if(context.global.intSocket1LedMode === 0)\n        {\n            msg.payload=\"Default\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 1)\n        {\n            msg.payload=\"Rainbow\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 2)\n        {\n            msg.payload=\"Cycle\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 3)\n        {\n            msg.payload=\"Cycle2\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 4)\n        {\n            msg.payload=\"Cycle3\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 5)\n        {\n            msg.payload=\"Cycle4\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 6)\n        {\n            msg.payload=\"Random\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 7)\n        {\n            msg.payload=\"Random2\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 8)\n        {\n            msg.payload=\"RandomCycle\\n\";\n        }\n        else if(context.global.intSocket1LedMode == 9)\n        {\n            msg.payload=\"RandomCycle2\\n\";\n        }\n        return [null, null, null, null, newMsg, null, null, msg, null, null, null, null, null, null, null];\n    case 'readSocket1AlarmState':\n        msg.payload=context.global.strSocket1AlarmState.trim()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'socket2LightOff':\n        newMsg.payload=\"0\";\n        context.global.intSocket2LightState = 0;\n        return [null, null, null, null, null, null, newMsg, msg, null, null, null, null, null, null, null];\n    case 'socket2LightOn':\n        newMsg.payload=\"1\";\n        context.global.intSocket2LightState = 1;\n        return [null, null, null, null, null, null, newMsg, msg, null, null, null, null, null, null, null];\n    case 'readSocket2LightState':\n        msg.payload=context.global.intSocket2LightState.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'socket3LightOff':\n        newMsg.payload=\"0\";\n        context.global.intSocket3LightState = 0;\n        return [null, null, null, null, null, null, null, msg, newMsg, null, null, null, null, null, null];\n    case 'socket3LightOn':\n        newMsg.payload=\"1\";\n        context.global.intSocket3LightState = 1;\n        return [null, null, null, null, null, null, null, msg, newMsg, null, null, null, null, null, null];\n    case 'readSocket3LightState':\n        msg.payload=context.global.intSocket3LightState.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'socket3LedOff':\n        newMsg.payload=\"0\";\n        context.global.intSocket3LightState = 0;\n        return [null, null, null, null, null, null, null, msg, null, newMsg, null, null, null, null, null];\n    case 'socket3LedOn':\n        newMsg.payload=\"1\";\n        context.global.intSocket3LightState = 1;\n        return [null, null, null, null, null, null, null, msg, null, newMsg, null, null, null, null, null];\n    case 'readSocket3LedState':\n        msg.payload=context.global.intSocket3LedState.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'readSocket3LedSpeed':\n        msg.payload=context.global.intSocket3LedSpeed.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'changeSocket3LedMode':\n        context.global.intSocket3LedMode = context.global.intSocket3LedMode + 1;\n        if (context.global.intSocket3LedMode > 9)\n        {\n            context.global.intSocket3LedMode = 0;\n        }\n        \n        // To send to MQTT\n        newMsg.payload=context.global.intSocket3LedMode.toString()+\"\\n\"\n\n        // To send as a reply to NetIO\n        if(context.global.intSocket3LedMode === 0)\n        {\n            msg.payload=\"Default\\n\";\n        }\n        else if(context.global.intSocket3LedMode == 1)\n        {\n            msg.payload=\"Rainbow\\n\";\n        }\n        else if(context.global.intSocket3LedMode == 2)\n        {\n            msg.payload=\"Cycle\\n\";\n        }\n        else if(context.global.intSocket3LedMode == 3)\n        {\n            msg.payload=\"Cycle2\\n\";\n        }\n        else if(context.global.intSocket3LedMode == 4)\n        {\n            msg.payload=\"Cycle3\\n\";\n        }\n        else if(context.global.intSocket3LedMode == 5)\n        {\n            msg.payload=\"Cycle4\\n\";\n        }\n        else if(context.global.intSocket3LedMode == 6)\n        {\n            msg.payload=\"Random\\n\";\n        }\n        else if(context.global.intSocket3LedMode == 7)\n        {\n            msg.payload=\"Random2\\n\";\n        }\n        else if(context.global.intSocket3LedMode == 8)\n        {\n            msg.payload=\"RandomCycle\\n\";\n        }\n        else if(context.global.intSocket3LedMode == 9)\n        {\n            msg.payload=\"RandomCycle2\\n\";\n        }\n        return [null, null, null, null, null, null, null, msg, null, null, newMsg, null, null, null, null];\n    case 'readSocket3LedMode':\n        // To send as a reply to NetIO\n        if(context.global.intSocket3LedMode === 0)\n        {\n            msg.payload=\"Default\\n\";\n        }\n        else if(context.global.intSocket3LedMode == 1)\n        {\n            msg.payload=\"Rainbow\\n\";\n        }\n        else if(context.global.intSocket3LedMode == 2)\n        {\n            msg.payload=\"Cycle\\n\";\n        }\n        else if(context.global.intSocket3LedMode == 3)\n        {\n            msg.payload=\"Cycle2\\n\";\n        }\n        else if(context.global.intSocket3LedMode == 4)\n        {\n            msg.payload=\"Cycle3\\n\";\n        }\n        else if(context.global.intSocket3LedMode == 5)\n        {\n            msg.payload=\"Cycle4\\n\";\n        }\n        else if(context.global.intSocket3LedMode == 6)\n        {\n            msg.payload=\"Random\\n\";\n        }\n        else if(context.global.intSocket3LedMode == 7)\n        {\n            msg.payload=\"Random2\\n\";\n        }\n        else if(context.global.intSocket3LedMode == 8)\n        {\n            msg.payload=\"RandomCycle\\n\";\n        }\n        else if(context.global.intSocket3LedMode == 9)\n        {\n            msg.payload=\"RandomCycle2\\n\";\n        }\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_1_on':\n        newMsg.payload=\"1\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_1_off':\n        newMsg.payload=\"1\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_1_state':\n        msg.payload=context.global.intNps1State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_2_on':\n        newMsg.payload=\"2\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_2_off':\n        newMsg.payload=\"2\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_2_state':\n        msg.payload=context.global.intNps2State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_3_on':\n        newMsg.payload=\"3\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_3_off':\n        newMsg.payload=\"3\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_3_state':\n        msg.payload=context.global.intNps3State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_4_on':\n        newMsg.payload=\"4\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_4_off':\n        newMsg.payload=\"4\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_4_state':\n        msg.payload=context.global.intNps4State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_5_on':\n        newMsg.payload=\"5\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_5_off':\n        newMsg.payload=\"5\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_5_state':\n        msg.payload=context.global.intNps5State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_6_on':\n        newMsg.payload=\"6\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_6_off':\n        newMsg.payload=\"6\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_6_state':\n        msg.payload=context.global.intNps6State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_7_on':\n        newMsg.payload=\"7\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_7_off':\n        newMsg.payload=\"7\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_7_state':\n        msg.payload=context.global.intNps7State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_8_on':\n        newMsg.payload=\"8\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_8_off':\n        newMsg.payload=\"8\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_8_state':\n        msg.payload=context.global.intNps8State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_9_on':\n        newMsg.payload=\"9\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_9_off':\n        newMsg.payload=\"9\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_9_state':\n        msg.payload=context.global.intNps9State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_10_on':\n        newMsg.payload=\"10\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_10_off':\n        newMsg.payload=\"10\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_10_state':\n        msg.payload=context.global.intNps10State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_11_on':\n        newMsg.payload=\"11\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_11_off':\n        newMsg.payload=\"11\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_11_state':\n        msg.payload=context.global.intNps11State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_12_on':\n        newMsg.payload=\"12\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_12_off':\n        newMsg.payload=\"12\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_12_state':\n        msg.payload=context.global.intNps12State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_13_on':\n        newMsg.payload=\"13\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_13_off':\n        newMsg.payload=\"13\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_13_state':\n        msg.payload=context.global.intNps13State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_14_on':\n        newMsg.payload=\"14\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_14_off':\n        newMsg.payload=\"14\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_14_state':\n        msg.payload=context.global.intNps14State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_15_on':\n        newMsg.payload=\"15\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_15_off':\n        newMsg.payload=\"15\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_15_state':\n        msg.payload=context.global.intNps15State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_16_on':\n        newMsg.payload=\"16\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_16_off':\n        newMsg.payload=\"16\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_16_state':\n        msg.payload=context.global.intNps16State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_17_on':\n        newMsg.payload=\"17\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_17_off':\n        newMsg.payload=\"17\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_17_state':\n        msg.payload=context.global.intNps17State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_18_on':\n        newMsg.payload=\"18\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_18_off':\n        newMsg.payload=\"18\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_18_state':\n        msg.payload=context.global.intNps18State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_19_on':\n        newMsg.payload=\"19\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_19_off':\n        newMsg.payload=\"19\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_19_state':\n        msg.payload=context.global.intNps19State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n    case 'nps_20_on':\n        newMsg.payload=\"20\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, newMsg, null, null];\n    case 'nps_20_off':\n        newMsg.payload=\"20\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, newMsg, null];\n    case 'read_nps_20_state':\n        msg.payload=context.global.intNps20State.toString()+\"\\n\";\n        return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n}\n\nif (myMsg[0] == \"setSocket1RGB\")  \n{    \n    return [null, null, null, null, null, newMsg, null, msg, null, null, null, null, null, null, null];\n}\nelse if (myMsg[0] == \"setSocket1FanSpeed\")  \n{   \n    newMsg.payload = myMsg[1].trim();\n    context.global.intSocket1FanSpeed = parseInt(myMsg[1].trim());\n    return [null, null, newMsg, null, null, null, null, msg, null, null, null, null, null, null, null];\n}\nelse if (myMsg[0] == \"setSocket3RGB\")  \n{    \n    return [null, null, null, null, null, null, null, msg, null, null, null, newMsg, null, null, null];\n}\nelse if (myMsg[0] == \"setSocket3LedSpeed\")  \n{   \n    context.global.intSocket3LedSpeed = parseInt(myMsg[1].trim());\n    // Since there are issues with higher speeds, limit to 7 only for\n    // the timebeing till the issues are sorted out\n    if (context.global.intSocket3LedSpeed > 7)\n    {\n        context.global.intSocket3LedSpeed = 7;\n    }\n    newMsg.payload = context.global.intSocket3LedSpeed.toString()+\"\\n\";\n    return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, newMsg];\n}\n\nreturn [null, null, null, null, null, null, null, msg, null, null, null, null, null, null, null];\n","outputs":"15","valid":true,"x":592.8214721679688,"y":135.0595245361328,"z":"ffc1382c.003ec8","wires":[["d6dd4d50.2922b"],["1decbde.fe21342"],["814fd6e5.7eb028"],["bc81a9aa.437e58"],["6edf5b82.9120a4"],["45f1a9ba.ba0e58"],["8fa047f0.705fb8"],["84488176.7bb78"],["da318e39.25ce7"],["4e2577fd.b1da88"],["ededd6ff.121228"],["1f55e246.e0aa1e"],["f3c6a60.f0c3958","4b2c1d08.b4d3e4"],["12a205d7.ed5dfa"],["b2fc2b9f.4d03d8"]]},{"id":"9b4ea69a.64b158","type":"function","name":"TimeStamp","func":"// Create a Date object from the payload\nvar date = new Date();\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString() + msg.payload;\n\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"valid":true,"x":1179.7857666015625,"y":842.75,"z":"ffc1382c.003ec8","wires":[["7cdb8210.83247c"]]},{"id":"7ab254d4.854dac","type":"http request","name":"Thingspeak","method":"POST","ret":"txt","url":"http://api.thingspeak.com/update?key=YYU2K51CG3XM6QFJ&+msg.payload","x":1346.6785888671875,"y":726.7738647460938,"z":"ffc1382c.003ec8","wires":[[]]},{"id":"7a7a9018.85857","type":"function","name":"collate","func":"var field = \"\";\nswitch(msg.topic) {\n    case \"/socket1/Temperature\":\n        field = \"field1\";\n    break;\n    case \"/socket1/Humidity\":\n        field = \"field2\";\n    break;\n    case \"/socket1/Watts\":\n        field = \"field3\";\n    break;\n}\n\ncontext.buff = context.buff || \"\";\ncontext.count = context.count || 0;\n\nif (msg.topic != \"purge\") {\n    if (context.buff.length > 0) {\n        context.buff = context.buff+\"&\"+field+\"=\"+msg.payload;\n    } else {\n        context.buff = field+\"=\"+msg.payload;\n    }\n    context.count += 1;\n }\n \nif (context.count == 3 || (msg.payload==\"purge\" && context.count >= 1)) {\n     msg.topic=\"\";\n     msg.payload = context.buff;\n     context.buff = \"\";\n     context.count = 0;\n     return msg;\n}\n \nreturn null;","outputs":1,"valid":true,"x":625.0000038146973,"y":862.1428155899048,"z":"ffc1382c.003ec8","wires":[["208a25e.fdf75da"]]},{"id":"1e2dc9b2.e1d236","type":"function","name":"collate","func":"var field = \"\";\nvar newMsg = { payload: msg.payload.trim() };\nnewMsg.topic = \"\";\n\ncontext.global.intSocket1LightState = context.global.intSocket1LightState || 0;\ncontext.global.intSocket1LedState   = context.global.intSocket1LedState   || 0;\ncontext.global.strSocket1AlarmState = context.global.strSocket1AlarmState || \"\";\n\n\nswitch(msg.topic) {\n     case \"/socket1/LightState\":\n         field = \"field4\";\n         context.global.intSocket1LightState = parseInt(msg.payload);\n     break;\n     case \"/socket1/LedState\":\n         context.global.intSocket1LedState = parseInt(msg.payload);\n     break;\n     case \"/socket1/AlarmState\":\n         context.global.strSocket1AlarmState = msg.payload.trim();\n     break;\n}\n\n\nif (msg.topic == \"/socket1/AlarmState\")\n{\n    switch(msg.payload)\n    {\n        case \"AlarmUnarmed\":\n        case \"AlarmArming\":\n        case \"AlarmArmed\":\n        case \"AlarmTriggered\":\n        case \"AlarmWrongPinEntered\":\n            return [null, null];\n        case \"AlarmIntruderAlert\":\n            return [null, newMsg];\n    }\n}\nelse if (msg.topic == \"/socket1/LightState\")\n{\n    msg.payload = field+\"=\"+msg.payload ;\n    return [msg, null];\n}\n\nreturn [null, null];\n\n","outputs":"2","valid":true,"x":609.0714721679688,"y":583.15478515625,"z":"ffc1382c.003ec8","wires":[["d18e40f4.2e71c"],["9b4ea69a.64b158"]]},{"id":"67082b4a.98f7d4","type":"mqtt in","name":"","topic":"/socket1/FanSpeed","broker":"c2a771eb.3d589","x":142.5000343322754,"y":536.0714101791382,"z":"ffc1382c.003ec8","wires":[["7dbdd321.82422c","d6ab3cfb.2954c"]]},{"id":"7dbdd321.82422c","type":"function","name":"collate","func":"var field = \"\";\n\ncontext.global.intSocket1FanState   = context.global.intSocket1FanState   || 0;\ncontext.global.intSocket1FanSpeed   = context.global.intSocket1FanSpeed   || 0;\n\nswitch(msg.topic) {\n     case \"/socket1/FanState\":\n         context.global.intSocket1FanState = parseInt(msg.payload.trim());\n         field = \"field5\";\n     break;\n     case \"/socket1/FanSpeed\":\n         context.global.intSocket1FanSpeed = parseInt(msg.payload.trim());\n         field = \"field6\";\n     break;\n}\n\ncontext.buff = context.buff || \"\";\ncontext.count = context.count || 0;\n\nif (msg.topic != \"purge\") {\n    if (context.buff.length > 0) {\n        context.buff = context.buff+\"&\"+field+\"=\"+msg.payload;\n    } else {\n        context.buff = field+\"=\"+msg.payload;\n    }\n    context.count += 1;\n }\n \nif (context.count == 2 || (msg.payload==\"purge\" && context.count >= 1)) {\n     msg.topic=\"\";\n     msg.payload = context.buff;\n     context.buff = \"\";\n     context.count = 0;\n     return msg;\n}\n \nreturn null;","outputs":1,"valid":true,"x":607.3214225769043,"y":479.88082790374756,"z":"ffc1382c.003ec8","wires":[["d18e40f4.2e71c"]]},{"id":"d18e40f4.2e71c","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1124.1309204101562,"y":674.4881591796875,"z":"ffc1382c.003ec8","wires":[["7ab254d4.854dac"]]},{"id":"d6dd4d50.2922b","type":"mqtt out","name":"","topic":"/socket1/LightCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1311.9048347473145,"y":23.33331871032715,"z":"ffc1382c.003ec8","wires":[]},{"id":"1decbde.fe21342","type":"mqtt out","name":"","topic":"/socket1/FanCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1308.28564453125,"y":77.5237808227539,"z":"ffc1382c.003ec8","wires":[]},{"id":"bc81a9aa.437e58","type":"mqtt out","name":"","topic":"/socket1/LedCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1310.0953369140625,"y":196.1905059814453,"z":"ffc1382c.003ec8","wires":[]},{"id":"45f1a9ba.ba0e58","type":"mqtt out","name":"","topic":"/socket1/LedColorCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1329.428466796875,"y":318.7618713378906,"z":"ffc1382c.003ec8","wires":[]},{"id":"814fd6e5.7eb028","type":"mqtt out","name":"","topic":"/socket1/FanSpeedCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1329.238037109375,"y":133.61903381347656,"z":"ffc1382c.003ec8","wires":[]},{"id":"6edf5b82.9120a4","type":"mqtt out","name":"","topic":"/socket1/LedModeCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1328.571533203125,"y":257.71429443359375,"z":"ffc1382c.003ec8","wires":[]},{"id":"208a25e.fdf75da","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":859.7142944335938,"y":719.90478515625,"z":"ffc1382c.003ec8","wires":[["d18e40f4.2e71c"]]},{"id":"2671138e.d98eec","type":"inject","name":"","topic":"timestamp","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"x":134.28571701049805,"y":315.7142753601074,"z":"ffc1382c.003ec8","wires":[["6d4ae80b.92b518"]]},{"id":"6d4ae80b.92b518","type":"function","name":"TimeStamp","func":"// Create a Date object from the payload\nvar date = new Date();\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString() + msg.payload;\n\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"valid":true,"x":616.6666488647461,"y":333.8095302581787,"z":"ffc1382c.003ec8","wires":[["8e39a7f.f71c658"]]},{"id":"8e39a7f.f71c658","type":"mqtt out","name":"","topic":"/socket1/TimestampCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1654.4761962890625,"y":359.90478515625,"z":"ffc1382c.003ec8","wires":[]},{"id":"6a4d9f26.95b26","type":"mqtt in","name":"","topic":"/socket2/Humidity","broker":"c2a771eb.3d589","x":139.33334350585938,"y":1380.166748046875,"z":"ffc1382c.003ec8","wires":[["eb259fdb.14da6","5426a6ad.abd958"]]},{"id":"eff9e20a.10062","type":"mqtt in","name":"","topic":"/socket2/Temperature","broker":"c2a771eb.3d589","x":155.3333282470703,"y":1314.8333740234375,"z":"ffc1382c.003ec8","wires":[["3e994aff.c166b6","5426a6ad.abd958"]]},{"id":"503cafe0.afc35","type":"mqtt out","name":"","topic":"/socket2/LightCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1369.0001220703125,"y":1358.1668701171875,"z":"ffc1382c.003ec8","wires":[]},{"id":"23cda262.dc325e","type":"mqtt out","name":"devicehub-/socket2/Temperature","topic":"/dd4d17b8-7ec4-4f96-a0b3-50a06426a041/738/sensor/1311","qos":"2","retain":"","broker":"9d48b580.62b748","x":1402.6666259765625,"y":1442.5,"z":"ffc1382c.003ec8","wires":[]},{"id":"86291d68.79d6e","type":"mqtt out","name":"devicehub-/socket2/Humidity","topic":"/dd4d17b8-7ec4-4f96-a0b3-50a06426a041/738/sensor/1312","qos":"2","retain":"","broker":"9d48b580.62b748","x":1391.333251953125,"y":1502.5001220703125,"z":"ffc1382c.003ec8","wires":[]},{"id":"ef6da79d.109258","type":"mqtt in","name":"devicehub-/socket2/LightCommand","topic":"/dd4d17b8-7ec4-4f96-a0b3-50a06426a041/738/actuator/417","broker":"9d48b580.62b748","x":199.3333282470703,"y":1255.16650390625,"z":"ffc1382c.003ec8","wires":[["8fa047f0.705fb8"]]},{"id":"8fa047f0.705fb8","type":"function","name":"","func":"var newMsg = { payload: msg.payload.trim() };\n\ncontext.global.intSocket2LightState = context.global.intSocket2LightState || 0;\n\nswitch(newMsg.payload) {\n    case '0':\n        context.global.intSocket2LightState = 0;\n    break;\n    case '1':\n        context.global.intSocket2LightState = 1;\n    break;\n}        \n\nreturn msg;","outputs":1,"valid":true,"x":653.1666870117188,"y":1274.166748046875,"z":"ffc1382c.003ec8","wires":[["503cafe0.afc35","ffeaacda.00155"]]},{"id":"391eeb21.c6e114","type":"mqtt out","name":"devicehub-/socket1/Temperature","topic":"/4ba90846-8b48-4f87-9dbb-1acf0e37a0b9/948/sensor/1499","qos":"2","retain":"","broker":"9d48b580.62b748","x":1388.3333740234375,"y":1124.5,"z":"ffc1382c.003ec8","wires":[]},{"id":"ff955ab5.006aa8","type":"mqtt out","name":"devicehub-/socket1/Humidity","topic":"/4ba90846-8b48-4f87-9dbb-1acf0e37a0b9/948/sensor/1500","qos":"2","retain":"","broker":"9d48b580.62b748","x":1375.33349609375,"y":1193.333251953125,"z":"ffc1382c.003ec8","wires":[]},{"id":"9fbc88e0.604378","type":"mqtt out","name":"devicehub-/socket1/Power","topic":"/4ba90846-8b48-4f87-9dbb-1acf0e37a0b9/948/sensor/1501","qos":"0","retain":"","broker":"9d48b580.62b748","x":1374.166748046875,"y":1258,"z":"ffc1382c.003ec8","wires":[]},{"id":"5118570b.aee7a8","type":"mqtt out","name":"devicehub-/socket1/LightState","topic":"/4ba90846-8b48-4f87-9dbb-1acf0e37a0b9/948/sensor/1502","qos":"2","retain":"","broker":"9d48b580.62b748","x":1379.166748046875,"y":1057.9998779296875,"z":"ffc1382c.003ec8","wires":[]},{"id":"944230b9.6bbdd","type":"mqtt out","name":"devicehub-/socket1/FanState","topic":"/4ba90846-8b48-4f87-9dbb-1acf0e37a0b9/948/sensor/1503","qos":"0","retain":"","broker":"9d48b580.62b748","x":1370.4998779296875,"y":940.1666870117188,"z":"ffc1382c.003ec8","wires":[]},{"id":"d6ab3cfb.2954c","type":"mqtt out","name":"devicehub-/socket1/FanSpeed","topic":"/4ba90846-8b48-4f87-9dbb-1acf0e37a0b9/948/sensor/1504","qos":"0","retain":"","broker":"9d48b580.62b748","x":1377.8333740234375,"y":999,"z":"ffc1382c.003ec8","wires":[]},{"id":"fc516273.03aea","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":837.333251953125,"y":1182.1666259765625,"z":"ffc1382c.003ec8","wires":[["9fbc88e0.604378"]]},{"id":"ccbc7c4e.33438","type":"mqtt in","name":"","topic":"/socket1/Watts","broker":"c2a771eb.3d589","x":132.33334350585938,"y":978.3333129882812,"z":"ffc1382c.003ec8","wires":[["fc516273.03aea","7a7a9018.85857"]]},{"id":"eb259fdb.14da6","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":911.3332481384277,"y":1419.166561126709,"z":"ffc1382c.003ec8","wires":[["86291d68.79d6e"]]},{"id":"3e994aff.c166b6","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":906,"y":1360.3332252502441,"z":"ffc1382c.003ec8","wires":[["23cda262.dc325e"]]},{"id":"28434e6f.d7bcb2","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":827.6666259765625,"y":1068.3333740234375,"z":"ffc1382c.003ec8","wires":[["391eeb21.c6e114"]]},{"id":"d9d9bded.26264","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":834.6666259765625,"y":1121.6666259765625,"z":"ffc1382c.003ec8","wires":[["ff955ab5.006aa8"]]},{"id":"36ab16b2.c954ea","type":"http request","name":"Thingspeak","method":"POST","ret":"txt","url":"http://api.thingspeak.com/update?key=YF2DC4HXFSUQUIEE&+msg.payload","x":1394,"y":1596,"z":"ffc1382c.003ec8","wires":[[]]},{"id":"54e28ee0.ab1d7","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1202,"y":1596,"z":"ffc1382c.003ec8","wires":[["36ab16b2.c954ea"]]},{"id":"5426a6ad.abd958","type":"function","name":"collate","func":"var field = \"\";\nswitch(msg.topic) {\n    case \"/socket2/Temperature\":\n        field = \"field2\";\n    break;\n    case \"/socket2/Humidity\":\n        field = \"field3\";\n    break;\n}\n\ncontext.buff = context.buff || \"\";\ncontext.count = context.count || 0;\n\nif (msg.topic != \"purge\") {\n    if (context.buff.length > 0) {\n        context.buff = context.buff+\"&\"+field+\"=\"+msg.payload;\n    } else {\n        context.buff = field+\"=\"+msg.payload;\n    }\n    context.count += 1;\n }\n \nif (context.count == 2 || (msg.payload==\"purge\" && context.count >= 1)) {\n     msg.topic=\"\";\n     msg.payload = context.buff;\n     context.buff = \"\";\n     context.count = 0;\n     return msg;\n}\n \nreturn null;","outputs":1,"valid":true,"x":658,"y":1578,"z":"ffc1382c.003ec8","wires":[["a3aefd8d.5c51"]]},{"id":"a3aefd8d.5c51","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":872,"y":1588,"z":"ffc1382c.003ec8","wires":[["54e28ee0.ab1d7"]]},{"id":"ffeaacda.00155","type":"function","name":"collate","func":"msg.payload=\"&field1=\"+msg.payload;\n\nreturn msg;","outputs":1,"valid":true,"x":662,"y":1458,"z":"ffc1382c.003ec8","wires":[["36ab16b2.c954ea"]]},{"id":"9e661d77.6199e","type":"twitter in","twitter":"9cc868f0.633798","tags":"SwitchOn, SwitchOff","user":"false","name":"","topic":"tweets","x":145,"y":1532.5000610351562,"z":"ffc1382c.003ec8","wires":[["3dd8ec18.c22714"]]},{"id":"3dd8ec18.c22714","type":"function","name":"ProcessTwitterInput","func":"var newMsg = { payload: msg.payload.trim() };\nvar msg = { payload: \"\"};\n\n\n//if ((myMsg[0].toUpperCase() == \"SwitchOn\") || (myMsg[1].toUpperCase() == \"SwitchOn\"))\nif (newMsg.payload.search(\"SwitchOn\") > 0)\n{\n    msg.payload = \"1\";\n}\nelse if (newMsg.payload.search(\"SwitchOff\") > 0)\n{\n    msg.payload = \"0\";\n}\n\nreturn msg;","outputs":"1","valid":true,"x":384.1666564941406,"y":1554.999939918518,"z":"ffc1382c.003ec8","wires":[["8fa047f0.705fb8"]]},{"id":"da318e39.25ce7","type":"mqtt out","name":"","topic":"/socket3/LightCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1315.000015258789,"y":435.5000066757202,"z":"ffc1382c.003ec8","wires":[]},{"id":"4e2577fd.b1da88","type":"mqtt out","name":"","topic":"/socket3/LedCommand","qos":"0","retain":"","broker":"c2a771eb.3d589","x":1318,"y":490,"z":"ffc1382c.003ec8","wires":[]},{"id":"ededd6ff.121228","type":"mqtt out","name":"","topic":"/socket3/LedModeCommand","qos":"0","retain":"","broker":"c2a771eb.3d589","x":1336,"y":536,"z":"ffc1382c.003ec8","wires":[]},{"id":"1f55e246.e0aa1e","type":"mqtt out","name":"","topic":"/socket3/LedColorCommand","qos":"0","retain":"","broker":"c2a771eb.3d589","x":1336,"y":582,"z":"ffc1382c.003ec8","wires":[]},{"id":"f3c6a60.f0c3958","type":"mqtt out","name":"","topic":"/nps/OnCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1863.9999999999995,"y":623.9999999999999,"z":"ffc1382c.003ec8","wires":[]},{"id":"12a205d7.ed5dfa","type":"mqtt out","name":"","topic":"/nps/OffCommand","qos":"2","retain":"","broker":"c2a771eb.3d589","x":1862,"y":676,"z":"ffc1382c.003ec8","wires":[]},{"id":"51cd9131.ae327","type":"mqtt in","name":"","topic":"/nps/StateResponse","broker":"c2a771eb.3d589","x":144,"y":1130,"z":"ffc1382c.003ec8","wires":[["39362064.c6c9e","4b2c1d08.b4d3e4"]]},{"id":"39362064.c6c9e","type":"function","name":"collate","func":"context.global.intNps1State         = context.global.intNps1State         || 0;\ncontext.global.intNps2State         = context.global.intNps2State         || 0;\ncontext.global.intNps3State         = context.global.intNps3State         || 0;\ncontext.global.intNps4State         = context.global.intNps4State         || 0;\ncontext.global.intNps5State         = context.global.intNps5State         || 0;\ncontext.global.intNps6State         = context.global.intNps6State         || 0;\ncontext.global.intNps7State         = context.global.intNps7State         || 0;\ncontext.global.intNps8State         = context.global.intNps8State         || 0;\ncontext.global.intNps9State         = context.global.intNps9State         || 0;\ncontext.global.intNps10State        = context.global.intNps10State        || 0;\ncontext.global.intNps11State        = context.global.intNps11State        || 0;\ncontext.global.intNps12State        = context.global.intNps12State        || 0;\ncontext.global.intNps13State        = context.global.intNps13State        || 0;\ncontext.global.intNps14State        = context.global.intNps14State        || 0;\ncontext.global.intNps15State        = context.global.intNps15State        || 0;\ncontext.global.intNps16State        = context.global.intNps16State        || 0;\ncontext.global.intNps17State        = context.global.intNps17State        || 0;\ncontext.global.intNps18State        = context.global.intNps18State        || 0;\ncontext.global.intNps19State        = context.global.intNps19State        || 0;\ncontext.global.intNps20State        = context.global.intNps20State        || 0;\n\nvar relayStates = msg.payload.split(\"\");\n\nif (relayStates[0] == \"1\")\n{\n    context.global.intNps1State = 1;\n}\nelse\n{\n    context.global.intNps1State = 0;\n}\n\nif (relayStates[1] == \"1\")\n{\n    context.global.intNps2State = 1;\n}\nelse\n{\n    context.global.intNps2State = 0;\n}\n\nif (relayStates[2] == \"1\")\n{\n    context.global.intNps3State = 1;\n}\nelse\n{\n    context.global.intNps3State = 0;\n}\n\nif (relayStates[3] == \"1\")\n{\n    context.global.intNps4State = 1;\n}\nelse\n{\n    context.global.intNps4State = 0;\n}\n\nif (relayStates[4] == \"1\")\n{\n    context.global.intNps5State = 1;\n}\nelse\n{\n    context.global.intNps5State = 0;\n}\n\nif (relayStates[5] == \"1\")\n{\n    context.global.intNps6State = 1;\n}\nelse\n{\n    context.global.intNps6State = 0;\n}\n\nif (relayStates[6] == \"1\")\n{\n    context.global.intNps7State = 1;\n}\nelse\n{\n    context.global.intNps7State = 0;\n}\n\nif (relayStates[7] == \"1\")\n{\n    context.global.intNps8State = 1;\n}\nelse\n{\n    context.global.intNps8State = 0;\n}\n\nif (relayStates[8] == \"1\")\n{\n    context.global.intNps9State = 1;\n}\nelse\n{\n    context.global.intNps9State = 0;\n}\n\nif (relayStates[9] == \"1\")\n{\n    context.global.intNps10State = 1;\n}\nelse\n{\n    context.global.intNps10State = 0;\n}\n\nif (relayStates[10] == \"1\")\n{\n    context.global.intNps11State = 1;\n}\nelse\n{\n    context.global.intNps11State = 0;\n}\n\nif (relayStates[11] == \"1\")\n{\n    context.global.intNps12State = 1;\n}\nelse\n{\n    context.global.intNps12State = 0;\n}\n\nif (relayStates[12] == \"1\")\n{\n    context.global.intNps13State = 1;\n}\nelse\n{\n    context.global.intNps13State = 0;\n}\n\nif (relayStates[13] == \"1\")\n{\n    context.global.intNps14State = 1;\n}\nelse\n{\n    context.global.intNps14State = 0;\n}\n\nif (relayStates[14] == \"1\")\n{\n    context.global.intNps15State = 1;\n}\nelse\n{\n    context.global.intNps15State = 0;\n}\n\nif (relayStates[15] == \"1\")\n{\n    context.global.intNps16State = 1;\n}\nelse\n{\n    context.global.intNps16State = 0;\n}\n\nif (relayStates[16] == \"1\")\n{\n    context.global.intNps17State = 1;\n}\nelse\n{\n    context.global.intNps17State = 0;\n}\n\nif (relayStates[17] == \"1\")\n{\n    context.global.intNps18State = 1;\n}\nelse\n{\n    context.global.intNps18State = 0;\n}\n\nif (relayStates[18] == \"1\")\n{\n    context.global.intNps19State = 1;\n}\nelse\n{\n    context.global.intNps19State = 0;\n}\n\nif (relayStates[19] == \"1\")\n{\n    context.global.intNps20State = 1;\n}\nelse\n{\n    context.global.intNps20State = 0;\n}\n\nreturn null;","outputs":1,"valid":true,"x":480,"y":1118,"z":"ffc1382c.003ec8","wires":[[]]},{"id":"b2fc2b9f.4d03d8","type":"mqtt out","name":"","topic":"/socket3/LedSpeedCommand","qos":"0","retain":"","broker":"c2a771eb.3d589","x":1337.1429748535156,"y":641.4285440444946,"z":"ffc1382c.003ec8","wires":[]}]